@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Ubuntu&display=swap");
@font-face {
  font-family: "RIDIBatang";
  src: url(../fonts/RIDIBatang.otf) format("opentype");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

p, i, li, span, div {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.mainBanner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 30px;
  position: relative;
}
.mainBanner .mainSlide {
  max-width: 100%;
  position: relative;
  margin: 0 -2px;
  height: 400px;
  overflow: hidden;
}
.mainBanner .mainSlide .slideWrap {
  width: 2000%;
  height: 100%;
}
.mainBanner .mainSlide .slideWrap .slideItem {
  width: 1020px;
  height: 400px;
  float: left;
}
.mainBanner .mainSlide .slideWrap .slideItem .content {
  position: relative;
  height: 100%;
  border-radius: 6px;
  margin: 0 3px;
  overflow: hidden;
}
.mainBanner .mainSlide .slideWrap .slideItem .content .slideImg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #f0f0f0;
}

.titleHead {
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 2px;
  margin-bottom: 8px;
}
.titleHead img {
  height: 20px;
  width: auto;
  border-right: 1px solid #fff;
}
.titleHead img:last-of-type {
  border-right: none;
}

.content .slideTxt {
  width: 1024px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 40px;
  padding-top: 0;
  padding-right: 46px;
  opacity: 1;
}
.content .slideTxt .slideTitle {
  color: #fff;
}
.content .slideTxt .slideTitle h2 {
  font-size: 32px;
  margin-bottom: 4px;
  letter-spacing: -0.01em;
  line-height: 40px;
  max-height: 80px;
  font-weight: 700;
}
.content .slideTxt .titleUnder {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.content .slideTxt .titleUnder .underTxt {
  color: #fff;
  display: flex;
  max-width: calc(85% + 40px);
  flex-basis: calc(85% + 40px);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.content .slideTxt .titleUnder .underTxt p {
  font-size: 16px;
  opacity: 0.8;
  line-height: 19px;
  max-height: 38px;
  letter-spacing: -0.01em;
  width: 100%;
}
.content .slideTxt .titleUnder .underTxt p:nth-child(2) {
  font-size: 8px;
  margin-top: 8px;
}
.content .slideTxt .titleUnder .slidePage {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  flex: 0 0 auto;
  padding: 3px 8px;
  border-radius: 100px;
  padding-top: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  font-weight: 600;
}
.content .slideTxt .titleUnder .slidePage span {
  color: #fff;
  opacity: 0.4;
}
.content .slideTxt .titleUnder .slidePage .pageIndex {
  opacity: 1;
}

.slideImg {
  width: 1018px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slideImg .gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-size: 100% calc(100% + 2px);
  background-position: center;
  height: 200px;
}

.slide_1 {
  background-image: url(../img/slide/01.webp);
}
.slide_1 .gradient {
  background: linear-gradient(rgba(129, 73, 222, 0), rgb(129, 73, 222)), linear-gradient(rgba(129, 73, 222, 0), rgb(129, 73, 222));
}

.slide_2 {
  background-image: url(../img/slide/02.webp);
}
.slide_2 .gradient {
  background: linear-gradient(rgba(15, 146, 148, 0), rgb(15, 146, 148)), linear-gradient(rgba(15, 146, 148, 0), rgb(15, 146, 148));
}

.slide_3 {
  background-image: url(../img/slide/03.webp);
}
.slide_3 .gradient {
  background: linear-gradient(rgba(38, 38, 96, 0), rgb(38, 38, 96)), linear-gradient(rgba(38, 38, 96, 0), rgb(38, 38, 96));
}

.slide_4 {
  background-image: url(../img/slide/04.webp);
}
.slide_4 .gradient {
  background: linear-gradient(to bottom, rgba(238, 78, 131, 0), rgb(238, 78, 131)), linear-gradient(to bottom, rgba(238, 78, 131, 0), rgb(238, 78, 131));
}

.slide_5 {
  background-image: url(../img/slide/05.webp);
}
.slide_5 .gradient {
  background: linear-gradient(rgba(182, 72, 11, 0), rgb(182, 72, 11)), linear-gradient(rgba(182, 72, 11, 0), rgb(182, 72, 11));
}

.slide_6 {
  background-image: url(../img/slide/06.webp);
}
.slide_6 .gradient {
  background: linear-gradient(rgba(43, 116, 192, 0), rgb(43, 116, 192)), linear-gradient(rgba(43, 116, 192, 0), rgb(43, 116, 192));
}

.slide_7 {
  background-image: url(../img/slide/07.webp);
}
.slide_7 .gradient {
  background: linear-gradient(rgba(5, 69, 148, 0), rgb(5, 69, 148)), linear-gradient(rgba(5, 69, 148, 0), rgb(5, 69, 148));
}

.slide_8 {
  background-image: url(../img/slide/08.webp);
}
.slide_8 .gradient {
  background: linear-gradient(rgba(15, 44, 27, 0), rgb(15, 44, 27)), linear-gradient(rgba(15, 44, 27, 0), rgb(15, 44, 27));
}

.slide_9 {
  background-image: url(../img/slide/09.webp);
}
.slide_9 .gradient {
  background: linear-gradient(rgba(141, 103, 57, 0), rgb(141, 103, 57)), linear-gradient(rgba(141, 103, 57, 0), rgb(141, 103, 57));
}

.slide_10 {
  background-image: url(../img/slide/10.webp);
}
.slide_10 .gradient {
  background: linear-gradient(rgba(196, 12, 25, 0), rgb(196, 12, 25)), linear-gradient(rgba(196, 12, 25, 0), rgb(196, 12, 25));
}

.slide_11 {
  background-image: url(../img/slide/11.webp);
}
.slide_11 .gradient {
  background: linear-gradient(rgba(0, 142, 206, 0), rgb(0, 142, 206)), linear-gradient(rgba(0, 142, 206, 0), rgb(0, 142, 206));
}

.slide_12 {
  background-image: url(../img/slide/12.webp);
}
.slide_12 .gradient {
  background: linear-gradient(rgba(220, 97, 25, 0), rgb(220, 97, 25)), linear-gradient(rgba(220, 97, 25, 0), rgb(220, 97, 25));
}

.slide_13 {
  background-image: url(../img/slide/13.webp);
}
.slide_13 .gradient {
  background-image: linear-gradient(to bottom, rgba(110, 57, 172, 0), rgb(110, 57, 172)), linear-gradient(to bottom, rgba(110, 57, 172, 0), rgb(110, 57, 172));
}

.slide_14 {
  background-image: url(../img/slide/14.webp);
}
.slide_14 .gradient {
  background: linear-gradient(rgba(10, 99, 119, 0), rgb(10, 99, 119)), linear-gradient(rgba(10, 99, 119, 0), rgb(10, 99, 119));
}

.slide_15 {
  background-image: url(../img/slide/15.webp);
}
.slide_15 .gradient {
  background: linear-gradient(rgba(92, 191, 175, 0), rgb(92, 191, 175)), linear-gradient(rgba(92, 191, 175, 0), rgb(92, 191, 175));
}

.slide_16 {
  background-image: url(../img/slide/16.webp);
}
.slide_16 .gradient {
  background: linear-gradient(rgba(92, 106, 208, 0), rgb(92, 106, 208)), linear-gradient(rgba(92, 106, 208, 0), rgb(92, 106, 208));
}

.slide_17 {
  background-image: url(../img/slide/17.webp);
}
.slide_17 .gradient {
  background: linear-gradient(rgba(88, 162, 171, 0), rgb(88, 162, 171)), linear-gradient(rgba(88, 162, 171, 0), rgb(88, 162, 171));
}

.slide_18 {
  background-image: url(../img/slide/18.webp);
}
.slide_18 .gradient {
  background: linear-gradient(rgba(31, 116, 181, 0), rgb(31, 116, 181)), linear-gradient(rgba(31, 116, 181, 0), rgb(31, 116, 181));
}

.slide_19 {
  background-image: url(../img/slide/19.webp);
}
.slide_19 .gradient {
  background: linear-gradient(rgba(35, 46, 77, 0), rgb(35, 46, 77)), linear-gradient(rgba(35, 46, 77, 0), rgb(35, 46, 77));
}

.slide_20 {
  background-image: url(../img/slide/20.webp);
}
.slide_20 .gradient {
  background: linear-gradient(rgba(220, 97, 25, 0), rgb(220, 97, 25)), linear-gradient(rgba(220, 97, 25, 0), rgb(220, 97, 25));
}

.slideBtn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 3px;
  pointer-events: none;
}
.slideBtn button {
  color: rgba(20, 20, 20, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  transition: opacity 0.2s ease, color 0.2s ease, pointer-events 0.2s ease;
  position: absolute;
  top: 50%;
  pointer-events: auto;
  font-size: 16px;
  color: #141414;
}
.slideBtn #prev_1 {
  left: 5px;
  transform: translateY(-50%);
}
.slideBtn #next_1 {
  right: 5px;
  transform: translateY(-50%);
}

.topBtn {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  height: 100px;
}
.topBtn ul {
  width: 750px;
  display: flex;
  justify-content: space-evenly;
}
.topBtn ul li {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.topBtn ul li img {
  max-width: 100%;
}
.topBtn ul li p {
  font-size: 13px;
  text-align: center;
  line-height: 16px;
  margin-top: 4px;
  letter-spacing: -0.03em;
  color: #141414;
  word-break: keep-all;
  font-weight: 500;
}

section {
  width: 1170px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
section h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #141414;
}
section h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #a5a5a5;
  cursor: pointer;
}

.ridiToday {
  position: relative;
}
.ridiToday #today_wrap {
  position: relative;
  overflow: hidden;
}
.ridiToday #today_wrap .todayWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiToday #today_wrap .todayWrap .todayBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiToday #today_wrap .todayWrap .todayBook .todayCover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiToday #today_wrap .todayWrap .todayBook .todayTxt {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 20px;
  max-height: 40px;
  margin-top: 10px;
}

.ridiMany {
  max-width: 1170px;
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.ridiMany .manyWrap {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 366px;
  align-content: space-between;
  justify-content: center;
}
.ridiMany .manyWrap .manyBook {
  width: 380px;
  height: 116px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  margin-right: 10px;
}
.ridiMany .manyWrap .manyBook .manyCover {
  width: 80px;
  height: 116px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.ridiMany .manyWrap .manyBook .manyIdx {
  width: 80px;
  height: 116px;
  font-size: 18px;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ridiMany .manyWrap .manyBook .manyInfo {
  width: 184px;
  height: 116px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  letter-spacing: -0.01em;
  padding-right: 26px;
}
.ridiMany .manyWrap .manyBook .manyInfo .manyTitle {
  font-weight: 500;
  color: #141414;
  line-height: 19px;
}
.ridiMany .manyWrap .manyBook .manyInfo .manyAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  line-height: 17px;
}
.ridiMany .manyWrap .manyBook .manyInfo .manyAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiMany .manyWrap .manyBook .manyInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  line-height: 16px;
  margin-top: 7px;
}
.ridiMany .manyWrap .manyBook .manyInfo .review span {
  color: #787878;
}
.ridiMany .manyWrap .manyBook .manyInfo .review_0 {
  font-size: 13px;
  color: #787878;
  font-family: "Noto Sans KR";
}
.ridiMany .hide {
  display: none;
}
.ridiMany ul {
  display: flex;
  justify-content: space-between;
}
.ridiMany ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #f0f0f0;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiMany ul > li:hover {
  opacity: 0.65;
}
.ridiMany ul > #prev_2 {
  left: 10px;
}
.ridiMany ul > #next_2 {
  right: 10px;
}

.ridiMD {
  position: relative;
}
.ridiMD #MD_wrap {
  position: relative;
  overflow: hidden;
}
.ridiMD #MD_wrap .MDWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiMD #MD_wrap .MDWrap .MDBook {
  width: 364px;
  height: 226px;
  position: relative;
  top: 58px;
  flex-shrink: 0;
  margin-right: 8px;
  margin-bottom: 20px;
}
.ridiMD #MD_wrap .MDWrap .MDBook .MDBg {
  width: 100%;
  height: 100px;
  position: relative;
  border-radius: 5px;
}
.ridiMD #MD_wrap .MDWrap .MDBook .MDBg .MDCover {
  width: 30%;
  margin: 0 auto;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.ridiMD #MD_wrap .MDWrap .MDBook .bg_1 {
  background-color: #7A372B;
}
.ridiMD #MD_wrap .MDWrap .MDBook .bg_2 {
  background-color: #355B29;
}
.ridiMD #MD_wrap .MDWrap .MDBook .bg_3 {
  background-color: #441C84;
}
.ridiMD #MD_wrap .MDWrap .MDBook .bg_4 {
  background-color: #5C6AD0;
}
.ridiMD #MD_wrap .MDWrap .MDBook .MDTxt {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
.ridiMD #MD_wrap .MDWrap .MDBook .MDTxt h4 {
  color: #141414;
  font-weight: 600;
  text-align: center;
  line-height: 1.2rem;
  max-height: 3rem;
}
.ridiMD #MD_wrap .MDWrap .MDBook .MDTxt p {
  color: #787878;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  max-height: 16px;
}
.ridiMD .hide {
  display: none;
}
.ridiMD ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-65%);
  border: 1px solid #f0f0f0;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiMD ul > li:hover {
  opacity: 0.65;
}
.ridiMD ul > #prev_3 {
  left: 10px;
}
.ridiMD ul > #next_3 {
  right: 10px;
}

.ridiBest {
  max-width: 1170px;
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.ridiBest .bestHeader {
  display: flex;
  justify-content: space-between;
}
.ridiBest .bestWrap {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 366px;
  align-content: space-between;
  justify-content: center;
}
.ridiBest .bestWrap .bestBook {
  width: 380px;
  height: 116px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  margin-right: 10px;
}
.ridiBest .bestWrap .bestBook .bestCover {
  width: 80px;
  height: 116px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.ridiBest .bestWrap .bestBook .bestIdx {
  width: 80px;
  height: 116px;
  font-size: 18px;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ridiBest .bestWrap .bestBook .bestInfo {
  width: 184px;
  height: 116px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  letter-spacing: -0.01em;
  padding-right: 26px;
}
.ridiBest .bestWrap .bestBook .bestInfo .bestTitle {
  font-weight: 500;
  color: #141414;
  line-height: 19px;
}
.ridiBest .bestWrap .bestBook .bestInfo .bestAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  line-height: 17px;
}
.ridiBest .bestWrap .bestBook .bestInfo .bestAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiBest .bestWrap .bestBook .bestInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  line-height: 16px;
  margin-top: 7px;
}
.ridiBest .bestWrap .bestBook .bestInfo .review span {
  color: #787878;
}
.ridiBest .bestWrap .bestBook .bestInfo .review_0 {
  font-size: 13px;
  color: #787878;
  font-family: "Noto Sans KR";
}
.ridiBest .hide {
  display: none;
}
.ridiBest ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-30%);
  border: 1px solid #f0f0f0;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiBest ul > li:hover {
  opacity: 0.65;
}
.ridiBest ul > #prev_4 {
  left: 10px;
}
.ridiBest ul > #next_4 {
  right: 10px;
}

.tag {
  display: flex;
  position: absolute;
  left: -1px;
  bottom: 0;
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tag .discount_10 {
  font-size: 11px;
  min-width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.02em;
  flex-wrap: nowrap;
  background-color: rgb(220, 50, 50);
}
.tag .discount_10 img {
  width: auto;
  height: 100%;
  border-style: none;
}
.tag .discount_50 {
  font-size: 11px;
  min-width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.02em;
  flex-wrap: nowrap;
  background-color: rgb(220, 50, 50);
}
.tag .discount_50 img {
  width: auto;
  height: 100%;
  border-style: none;
}
.tag .rent {
  font-size: 11px;
  min-width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.02em;
  flex-wrap: nowrap;
  background-color: rgb(120, 120, 120);
}
.tag .rent img {
  width: auto;
  height: 100%;
  border-style: none;
}
.tag .select {
  font-size: 11px;
  min-width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.02em;
  flex-wrap: nowrap;
  background-color: rgb(196, 182, 118);
}
.tag .select img {
  width: auto;
  height: 100%;
  border-style: none;
}

.ridiNew {
  position: relative;
}
.ridiNew .newHeader {
  display: flex;
  justify-content: space-between;
}
.ridiNew #new_wrap {
  position: relative;
  overflow: hidden;
}
.ridiNew #new_wrap .newWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiNew #new_wrap .newWrap .newBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiNew #new_wrap .newWrap .newBook .newCover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiNew #new_wrap .newWrap .newBook .newInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiNew #new_wrap .newWrap .newBook .newInfo .newTitle {
  color: #141414;
  font-weight: 500;
  letter-spacing: -0.03em;
  max-height: 38px;
  line-height: 19px;
}
.ridiNew #new_wrap .newWrap .newBook .newInfo .newAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.ridiNew #new_wrap .newWrap .newBook .newInfo .newAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiNew #new_wrap .newWrap .newBook .newInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.ridiNew #new_wrap .newWrap .newBook .newInfo .review span {
  color: #787878;
}
.ridiNew #new_wrap .newWrap .newBook .newInfo .review_0 {
  font-size: 13px;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #787878;
  font-family: "Noto Sans KR";
}
.ridiNew .hide {
  display: none;
}
.ridiNew ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-150%);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiNew ul > li:hover {
  opacity: 0.65;
}
.ridiNew ul > #prev_5 {
  left: 10px;
}
.ridiNew ul > #next_5 {
  right: 10px;
}

.ridiAwards {
  position: relative;
}
.ridiAwards #awards_wrap {
  position: relative;
  overflow: hidden;
}
.ridiAwards #awards_wrap .awardsWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook .awardsCover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook .awardsInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook .awardsInfo .awardsTitle {
  color: #141414;
  font-weight: 500;
  letter-spacing: -0.03em;
  max-height: 38px;
  line-height: 19px;
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook .awardsInfo .awardsAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook .awardsInfo .awardsAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook .awardsInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook .awardsInfo .review span {
  color: #787878;
}
.ridiAwards #awards_wrap .awardsWrap .awardsBook .awardsInfo .review_0 {
  font-size: 13px;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #787878;
  font-family: "Noto Sans KR";
}

.ridiTop10 {
  position: relative;
}
.ridiTop10 #top10_wrap {
  position: relative;
  overflow: hidden;
}
.ridiTop10 #top10_wrap .top10Wrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiTop10 #top10_wrap .top10Wrap .top10Book {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiTop10 #top10_wrap .top10Wrap .top10Book .top10Cover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiTop10 #top10_wrap .top10Wrap .top10Book .top10Info {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiTop10 #top10_wrap .top10Wrap .top10Book .top10Info .top10Title {
  color: #141414;
  font-weight: 500;
  letter-spacing: -0.03em;
  max-height: 38px;
  line-height: 19px;
}
.ridiTop10 #top10_wrap .top10Wrap .top10Book .top10Info .top10Author {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.ridiTop10 #top10_wrap .top10Wrap .top10Book .top10Info .top10Author:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiTop10 #top10_wrap .top10Wrap .top10Book .top10Info .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.ridiTop10 #top10_wrap .top10Wrap .top10Book .top10Info .review span {
  color: #787878;
}
.ridiTop10 .hide {
  display: none;
}
.ridiTop10 ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-150%);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiTop10 ul > li:hover {
  opacity: 0.65;
}
.ridiTop10 ul > #prev_6 {
  left: 10px;
}
.ridiTop10 ul > #next_6 {
  right: 10px;
}

.ridiEvent {
  position: relative;
}
.ridiEvent .eventHeader {
  display: flex;
  justify-content: space-between;
}
.ridiEvent #event_wrap {
  position: relative;
  overflow: hidden;
}
.ridiEvent #event_wrap .eventWrap {
  margin-top: 20px;
  width: 100%;
  height: 90px;
  display: flex;
}
.ridiEvent #event_wrap .eventWrap .eventBook {
  width: 33.1%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  border-radius: 4px;
  padding-right: 5px;
  margin-right: 0.333%;
  cursor: pointer;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(1) {
  background-color: #DC6119;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(2) {
  background-color: #8149DE;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(3) {
  background-color: #232E4D;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(4) {
  background-color: #530316;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(5) {
  background-color: #0F9294;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(6) {
  background-color: #DC5F18;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(7) {
  background-color: #6E39AC;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(8) {
  background-color: #5C6AD0;
}
.ridiEvent #event_wrap .eventWrap .eventBook:nth-child(9) {
  background-color: #0A6377;
}
.ridiEvent #event_wrap .eventWrap .eventBook .eventTxt {
  width: 60%;
  height: 40px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: end;
}
.ridiEvent #event_wrap .eventWrap .eventBook .eventTxt h4 {
  max-width: 200px;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.ridiEvent #event_wrap .eventWrap .eventBook .eventImage {
  width: 40%;
  height: 100%;
  position: relative;
}
.ridiEvent #event_wrap .eventWrap .eventBook .eventImage .eventCover {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.ridiEvent .hide {
  display: none;
}
.ridiEvent ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-25%);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiEvent ul > li:hover {
  opacity: 0.65;
}
.ridiEvent ul > #prev_7 {
  left: 10px;
}
.ridiEvent ul > #next_7 {
  right: 10px;
}

.ridiNovel {
  position: relative;
}
.ridiNovel .novelHeader {
  display: flex;
  justify-content: space-between;
}
.ridiNovel #novel_wrap {
  position: relative;
  overflow: hidden;
}
.ridiNovel #novel_wrap .novelWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiNovel #novel_wrap .novelWrap .novelBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiNovel #novel_wrap .novelWrap .novelBook .novelCover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiNovel #novel_wrap .novelWrap .novelBook .novelInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiNovel #novel_wrap .novelWrap .novelBook .novelInfo .novelTitle {
  color: #141414;
  font-weight: 500;
  letter-spacing: -0.03em;
  max-height: 38px;
  line-height: 19px;
}
.ridiNovel #novel_wrap .novelWrap .novelBook .novelInfo .novelAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.ridiNovel #novel_wrap .novelWrap .novelBook .novelInfo .novelAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiNovel #novel_wrap .novelWrap .novelBook .novelInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.ridiNovel #novel_wrap .novelWrap .novelBook .novelInfo .review span {
  color: #787878;
}
.ridiNovel .hide {
  display: none;
}
.ridiNovel ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-150%);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiNovel ul > li:hover {
  opacity: 0.65;
}
.ridiNovel ul > #prev_8 {
  left: 10px;
}
.ridiNovel ul > #next_8 {
  right: 10px;
}

.ridiPsychology {
  position: relative;
}
.ridiPsychology .psyHeader {
  display: flex;
  justify-content: space-between;
}
.ridiPsychology #psy_wrap {
  position: relative;
  overflow: hidden;
}
.ridiPsychology #psy_wrap .psyWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiPsychology #psy_wrap .psyWrap .psyBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiPsychology #psy_wrap .psyWrap .psyBook .psyCover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiPsychology #psy_wrap .psyWrap .psyBook .psyInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiPsychology #psy_wrap .psyWrap .psyBook .psyInfo .psyTitle {
  color: #141414;
  font-weight: 500;
  letter-spacing: -0.03em;
  max-height: 38px;
  line-height: 19px;
}
.ridiPsychology #psy_wrap .psyWrap .psyBook .psyInfo .psyAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.ridiPsychology #psy_wrap .psyWrap .psyBook .psyInfo .psyAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiPsychology #psy_wrap .psyWrap .psyBook .psyInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.ridiPsychology #psy_wrap .psyWrap .psyBook .psyInfo .review span {
  color: #787878;
}
.ridiPsychology .hide {
  display: none;
}
.ridiPsychology ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-150%);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiPsychology ul > li:hover {
  opacity: 0.65;
}
.ridiPsychology ul > #prev_9 {
  left: 10px;
}
.ridiPsychology ul > #next_9 {
  right: 10px;
}

.ridiScience {
  position: relative;
}
.ridiScience .scienceHeader {
  display: flex;
  justify-content: space-between;
}
.ridiScience #science_wrap {
  position: relative;
  overflow: hidden;
}
.ridiScience #science_wrap .scienceWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiScience #science_wrap .scienceWrap .scienceBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiScience #science_wrap .scienceWrap .scienceBook .scienceCover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiScience #science_wrap .scienceWrap .scienceBook .scienceInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiScience #science_wrap .scienceWrap .scienceBook .scienceInfo .scienceTitle {
  color: #141414;
  font-weight: 500;
  letter-spacing: -0.03em;
  max-height: 38px;
  line-height: 19px;
}
.ridiScience #science_wrap .scienceWrap .scienceBook .scienceInfo .scienceAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.ridiScience #science_wrap .scienceWrap .scienceBook .scienceInfo .scienceAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiScience #science_wrap .scienceWrap .scienceBook .scienceInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.ridiScience #science_wrap .scienceWrap .scienceBook .scienceInfo .review span {
  color: #787878;
}
.ridiScience .hide {
  display: none;
}
.ridiScience ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-130%);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiScience ul > li:hover {
  opacity: 0.65;
}
.ridiScience ul > #prev_10 {
  left: 10px;
}
.ridiScience ul > #next_10 {
  right: 10px;
}

.ridiMystery {
  position: relative;
}
.ridiMystery .mysteryHeader {
  display: flex;
  justify-content: space-between;
}
.ridiMystery #mystery_wrap {
  overflow: hidden;
  position: relative;
}
.ridiMystery #mystery_wrap .mysteryWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiMystery #mystery_wrap .mysteryWrap .mysteryBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiMystery #mystery_wrap .mysteryWrap .mysteryBook .mysteryCover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiMystery #mystery_wrap .mysteryWrap .mysteryBook .mysteryInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiMystery #mystery_wrap .mysteryWrap .mysteryBook .mysteryInfo .mysteryTitle {
  color: #141414;
  font-weight: 500;
  letter-spacing: -0.03em;
  max-height: 38px;
  line-height: 19px;
}
.ridiMystery #mystery_wrap .mysteryWrap .mysteryBook .mysteryInfo .mysteryAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.ridiMystery #mystery_wrap .mysteryWrap .mysteryBook .mysteryInfo .mysteryAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiMystery #mystery_wrap .mysteryWrap .mysteryBook .mysteryInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.ridiMystery #mystery_wrap .mysteryWrap .mysteryBook .mysteryInfo .review span {
  color: #787878;
}
.ridiMystery .hide {
  display: none;
}
.ridiMystery ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-150%);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiMystery ul > li:hover {
  opacity: 0.65;
}
.ridiMystery ul > #prev_11 {
  left: 10px;
}
.ridiMystery ul > #next_11 {
  right: 10px;
}

.ridiHumanity {
  position: relative;
  padding-bottom: 100px;
}
.ridiHumanity .humanHeader {
  display: flex;
  justify-content: space-between;
}
.ridiHumanity #human_wrap {
  overflow: hidden;
  position: relative;
}
.ridiHumanity #human_wrap .humanWrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.ridiHumanity #human_wrap .humanWrap .humanBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 6px;
}
.ridiHumanity #human_wrap .humanWrap .humanBook .humanCover {
  width: 100%;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiHumanity #human_wrap .humanWrap .humanBook .humanInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiHumanity #human_wrap .humanWrap .humanBook .humanInfo .humanTitle {
  color: #141414;
  font-weight: 500;
  letter-spacing: -0.03em;
  max-height: 38px;
  line-height: 19px;
}
.ridiHumanity #human_wrap .humanWrap .humanBook .humanInfo .humanAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.ridiHumanity #human_wrap .humanWrap .humanBook .humanInfo .humanAuthor:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ridiHumanity #human_wrap .humanWrap .humanBook .humanInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.ridiHumanity #human_wrap .humanWrap .humanBook .humanInfo .review span {
  color: #787878;
}
.ridiHumanity .hide {
  display: none;
}
.ridiHumanity ul > li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-150%);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.ridiHumanity ul > li:hover {
  opacity: 0.65;
}
.ridiHumanity ul > #prev_12 {
  left: 10px;
}
.ridiHumanity ul > #next_12 {
  right: 10px;
}