@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Ubuntu&display=swap");
@font-face {
  font-family: "RIDIBatang";
  src: url(../fonts/RIDIBatang.otf) format("opentype");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

p, i, li, span, div {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.upperBar {
  width: 100%;
  height: 40px;
}

.upperMenu {
  width: 1170px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}

.upperLeft {
  display: flex;
}
.upperLeft li {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upperLeft li a {
  font-size: 14px;
  transition: all 0.3s ease;
}
.upperLeft li a:hover {
  color: #ccc;
}

.upperRight {
  display: flex;
  justify-content: end;
}
.upperRight li {
  width: 80px;
}
.upperRight li a {
  font-size: 14px;
  transition: all 0.3s ease;
}
.upperRight li a:hover {
  color: #ccc;
}

header {
  max-width: 1170px;
  margin: 0 auto;
}

.headMenu {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
}

.headLeft {
  height: 40px;
  display: flex;
  align-items: center;
}
.headLeft a {
  display: flex;
  align-items: center;
}
.headLeft a div {
  display: flex;
  align-items: center;
  padding: 8px 8px 9px 0;
}

.headRight {
  display: flex;
  height: 72px;
  align-items: center;
}
.headRight form {
  width: 260px;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #eee;
  padding: 0 11px;
  border-radius: 8px;
}
.headRight form input {
  width: 230px;
  height: 30px;
  border: none;
  background-color: transparent;
}
.headRight form img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.headRight ul {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 0 10px;
}
.headRight ul li {
  width: 40px;
  height: 40px;
}
.headRight ul li img {
  width: 100%;
  padding: 6px;
  padding-top: 7px;
  padding-bottom: 5px;
  cursor: pointer;
}

.underBar {
  width: 1170px;
  height: 120px;
  margin: 0 auto;
  padding: 0 18px;
  padding-right: 30px;
}
.underBar .underMenu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.underBar .underMenu span {
  font-size: 24px;
  font-weight: bold;
  color: #1E9EFF;
}
.underBar .underMenu a {
  width: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 14px;
}
.underBar .underMenu a img {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
}
.underBar .underBtn ul {
  display: flex;
}
.underBar .underBtn ul li {
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 16px;
}
.underBar .underBtn ul li:first-child {
  width: 50px;
  background-color: #1E9EFF;
  color: white;
  border-radius: 15px;
}
.underBar .underBtn ul li:last-child {
  transition: all 0.3s ease;
  cursor: pointer;
}
.underBar .underBtn ul li:last-child:hover {
  color: #ccc;
}

.mainBanner {
  width: 1170px;
  height: 400px;
  margin: 0 auto;
  background-color: skyblue;
  padding: 0px 30px;
}

.topBtn {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  height: 100px;
}
.topBtn ul {
  width: 750px;
  display: flex;
  justify-content: space-evenly;
}
.topBtn ul li {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.topBtn ul li img {
  max-width: 100%;
}
.topBtn ul li p {
  font-size: 11.5px;
  text-align: center;
  width: 70px;
}

section {
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 30px;
}

.ridiToday .todayWrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 311px;
  margin-right: 6px;
}
.ridiToday .todayWrap .todayBook {
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ridiToday .todayWrap .todayBook .todayCover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiToday .todayWrap .todayBook .todayTxt {
  width: 100%;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.ridiMany {
  max-width: 1170px;
}
.ridiMany .manyWrap {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  width: 370px;
  height: 366px;
  align-content: space-between;
  justify-content: center;
}
.ridiMany .manyWrap .manyBook {
  width: 370px;
  height: 116px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.ridiMany .manyWrap .manyBook .manyCover {
  width: 80px;
  height: 116px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.ridiMany .manyWrap .manyBook .manyIdx {
  width: 80px;
  height: 116px;
  font-size: 18px;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ridiMany .manyWrap .manyBook .manyInfo {
  width: 184px;
  height: 116px;
  background-color: aliceblue;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-right: 26px;
  letter-spacing: -0.01em;
}
.ridiMany .manyWrap .manyBook .manyInfo .manyTitle {
  font-weight: 500;
  color: #141414;
  line-height: 19px;
}
.ridiMany .manyWrap .manyBook .manyInfo .manyAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  line-height: 17px;
}
.ridiMany .manyWrap .manyBook .manyInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  line-height: 16px;
  margin-top: 7px;
}
.ridiMany .manyWrap .manyBook .manyInfo .review span {
  color: #787878;
}
.ridiMany .manyWrap .manyBook .manyInfo .review_0 {
  font-size: 13px;
  color: #787878;
  font-family: "Noto Sans KR";
}

.ridiMD {
  width: 1170px;
}
.ridiMD .MDWrap {
  margin-top: 20px;
  width: 100%;
  height: 226px;
  display: flex;
  flex-wrap: nowrap;
}
.ridiMD .MDWrap .MDBox {
  width: 372px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.ridiMD .MDWrap .MDBox .MDTxt {
  width: 100%;
  height: 70px;
  background-color: antiquewhite;
}
.ridiMD .MDWrap .MDBox .MDTxt h4 {
  color: #141414;
  font-weight: 600;
}
.ridiMD .MDWrap .MDBox .MDTxt p {
  color: #787878;
  font-size: 14px;
}

.ridiBest {
  max-width: 1170px;
}
.ridiBest .bestWrap {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  width: 370px;
  height: 366px;
  align-content: space-between;
  justify-content: center;
}
.ridiBest .bestWrap .bestBook {
  width: 370px;
  height: 116px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.ridiBest .bestWrap .bestBook .bestCover {
  width: 80px;
  height: 116px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.ridiBest .bestWrap .bestBook .bestIdx {
  width: 80px;
  height: 116px;
  font-size: 18px;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ridiBest .bestWrap .bestBook .bestInfo {
  width: 184px;
  height: 116px;
  background-color: aliceblue;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-right: 26px;
  letter-spacing: -0.01em;
}
.ridiBest .bestWrap .bestBook .bestInfo .bestTitle {
  font-weight: 500;
  color: #141414;
  line-height: 19px;
}
.ridiBest .bestWrap .bestBook .bestInfo .bestAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
  line-height: 17px;
}
.ridiBest .bestWrap .bestBook .bestInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  line-height: 16px;
  margin-top: 7px;
}
.ridiBest .bestWrap .bestBook .bestInfo .review span {
  color: #787878;
}
.ridiBest .bestWrap .bestBook .bestInfo .review_0 {
  font-size: 13px;
  color: #787878;
  font-family: "Noto Sans KR";
}

.ridiNew {
  max-width: 1170px;
}
.ridiNew .newWrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.ridiNew .newWrap .newBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 6px;
}
.ridiNew .newWrap .newBook .newCover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiNew .newWrap .newBook .newInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiNew .newWrap .newBook .newInfo .newTitle {
  color: #141414;
  font-weight: 500;
}
.ridiNew .newWrap .newBook .newInfo .newAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
}
.ridiNew .newWrap .newBook .newInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
}
.ridiNew .newWrap .newBook .newInfo .review span {
  color: #787878;
}
.ridiNew .newWrap .newBook .newInfo .review_0 {
  font-size: 13px;
  margin-top: 7px;
  color: #787878;
  font-family: "Noto Sans KR";
}

.ridiAwards {
  max-width: 1170px;
}
.ridiAwards .awardsWrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-right: 6px;
}
.ridiAwards .awardsWrap .awardsBook {
  width: 16%;
  height: 355px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ridiAwards .awardsWrap .awardsBook .awardsCover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiAwards .awardsWrap .awardsBook .awardsInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiAwards .awardsWrap .awardsBook .awardsInfo .awardsTitle {
  color: #141414;
  font-weight: 500;
}
.ridiAwards .awardsWrap .awardsBook .awardsInfo .awardsAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
}
.ridiAwards .awardsWrap .awardsBook .awardsInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
}
.ridiAwards .awardsWrap .awardsBook .awardsInfo .review span {
  color: #787878;
}
.ridiAwards .awardsWrap .awardsBook .awardsInfo .review_0 {
  font-size: 13px;
  color: #787878;
  margin-top: 7px;
  font-family: "Noto Sans KR";
}

.ridiTop10 {
  max-width: 1170px;
}
.ridiTop10 .top10Wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-right: 6px;
}
.ridiTop10 .top10Wrap .top10Book {
  width: 16%;
  height: 355px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 6px;
}
.ridiTop10 .top10Wrap .top10Book .top10Cover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiTop10 .top10Wrap .top10Book .top10Info {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiTop10 .top10Wrap .top10Book .top10Info .top10Title {
  color: #141414;
  font-weight: 500;
}
.ridiTop10 .top10Wrap .top10Book .top10Info .top10Author {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
}
.ridiTop10 .top10Wrap .top10Book .top10Info .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
}
.ridiTop10 .top10Wrap .top10Book .top10Info .review span {
  color: #787878;
}

.ridiEvent {
  width: 1170px;
  height: 168px;
}
.ridiEvent .eventWrap {
  margin-top: 20px;
  width: 100%;
  height: 90px;
  display: flex;
}
.ridiEvent .eventWrap .eventBook {
  width: 372px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
  margin-right: 6px;
}
.ridiEvent .eventWrap .eventBook:nth-child(1) {
  background-color: #DC6119;
}
.ridiEvent .eventWrap .eventBook:nth-child(2) {
  background-color: #8149DE;
}
.ridiEvent .eventWrap .eventBook:nth-child(3) {
  background-color: #232E4D;
}
.ridiEvent .eventWrap .eventBook:nth-child(4) {
  background-color: #530316;
}
.ridiEvent .eventWrap .eventBook:nth-child(5) {
  background-color: #0F9294;
}
.ridiEvent .eventWrap .eventBook:nth-child(6) {
  background-color: #DC5F18;
}
.ridiEvent .eventWrap .eventBook:nth-child(7) {
  background-color: #6E39AC;
}
.ridiEvent .eventWrap .eventBook:nth-child(8) {
  background-color: #5C6AD0;
}
.ridiEvent .eventWrap .eventBook:nth-child(9) {
  background-color: #0A6377;
}
.ridiEvent .eventWrap .eventBook .eventTxt {
  width: 60%;
  height: 40px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: end;
}
.ridiEvent .eventWrap .eventBook .eventTxt h4 {
  max-width: 200px;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.ridiEvent .eventWrap .eventBook .eventImage {
  width: 40%;
  height: 100%;
}
.ridiEvent .eventWrap .eventBook .eventImage .eventCover {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}

.ridiNovel {
  max-width: 1170px;
}
.ridiNovel .novelWrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.ridiNovel .novelWrap .novelBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 6px;
}
.ridiNovel .novelWrap .novelBook .novelCover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiNovel .novelWrap .novelBook .novelInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiNovel .novelWrap .novelBook .novelInfo .novelTitle {
  color: #141414;
  font-weight: 500;
}
.ridiNovel .novelWrap .novelBook .novelInfo .novelAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
}
.ridiNovel .novelWrap .novelBook .novelInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
}
.ridiNovel .novelWrap .novelBook .novelInfo .review span {
  color: #787878;
}

.ridiPsychology {
  max-width: 1170px;
}
.ridiPsychology .psyWrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.ridiPsychology .psyWrap .psyBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 6px;
}
.ridiPsychology .psyWrap .psyBook .psyCover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiPsychology .psyWrap .psyBook .psyInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiPsychology .psyWrap .psyBook .psyInfo .psyTitle {
  color: #141414;
  font-weight: 500;
}
.ridiPsychology .psyWrap .psyBook .psyInfo .psyAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
}
.ridiPsychology .psyWrap .psyBook .psyInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
}
.ridiPsychology .psyWrap .psyBook .psyInfo .review span {
  color: #787878;
}

.ridiScience {
  max-width: 1170px;
}
.ridiScience .scienceWrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.ridiScience .scienceWrap .scienceBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 6px;
}
.ridiScience .scienceWrap .scienceBook .scienceCover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiScience .scienceWrap .scienceBook .scienceInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiScience .scienceWrap .scienceBook .scienceInfo .scienceTitle {
  color: #141414;
  font-weight: 500;
}
.ridiScience .scienceWrap .scienceBook .scienceInfo .scienceAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
}
.ridiScience .scienceWrap .scienceBook .scienceInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 6px;
}
.ridiScience .scienceWrap .scienceBook .scienceInfo .review span {
  color: #787878;
}

.ridiMystery {
  max-width: 1170px;
}
.ridiMystery .mysteryWrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.ridiMystery .mysteryWrap .mysteryBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 6px;
}
.ridiMystery .mysteryWrap .mysteryBook .mysteryCover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiMystery .mysteryWrap .mysteryBook .mysteryInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiMystery .mysteryWrap .mysteryBook .mysteryInfo .mysteryTitle {
  color: #141414;
  font-weight: 500;
}
.ridiMystery .mysteryWrap .mysteryBook .mysteryInfo .mysteryAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
}
.ridiMystery .mysteryWrap .mysteryBook .mysteryInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
}
.ridiMystery .mysteryWrap .mysteryBook .mysteryInfo .review span {
  color: #787878;
}

.ridiHumanity {
  max-width: 1170px;
}
.ridiHumanity .humanWrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.ridiHumanity .humanWrap .humanBook {
  width: 180px;
  height: 355px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 6px;
}
.ridiHumanity .humanWrap .humanBook .humanCover {
  width: 180px;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(20, 20, 20, 0.06);
}
.ridiHumanity .humanWrap .humanBook .humanInfo {
  width: 100%;
  height: 84px;
  margin-top: 10px;
  padding-right: 10px;
}
.ridiHumanity .humanWrap .humanBook .humanInfo .humanTitle {
  color: #141414;
  font-weight: 500;
}
.ridiHumanity .humanWrap .humanBook .humanInfo .humanAuthor {
  color: #787878;
  font-size: 14px;
  margin-top: 6px;
}
.ridiHumanity .humanWrap .humanBook .humanInfo .review {
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #DC3232;
  margin-top: 7px;
}
.ridiHumanity .humanWrap .humanBook .humanInfo .review span {
  color: #787878;
}

footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #666;
}
footer .footBox {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
footer .footBox .footMenu_1 ul li {
  display: flex;
  align-items: center;
  width: 120px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  margin-top: 20px;
}
footer .footBox .footMenu_1 ul li img {
  width: 25px;
  margin-right: 5px;
  opacity: 0.5;
}
footer .footBox .footMenu_2 ul li {
  margin-top: 25px;
  width: 120px;
  font-size: 13px;
  cursor: pointer;
}
footer .footBox .footMenu_2 ul li:first-child {
  font-weight: bold;
}
footer .footBox .footMenu_3 ul li {
  margin-top: 25px;
  width: 120px;
  font-size: 13px;
  cursor: pointer;
}
footer .footBox .footMenu_3 ul li:first-child {
  font-weight: bold;
}
footer .footBox .footMenu_4 ul li {
  margin-top: 25px;
  width: 120px;
  font-size: 13px;
  cursor: pointer;
}
footer .footBox .footMenu_4 ul li:first-child {
  font-weight: bold;
}
footer .footBox .footMenu_4 ul li:last-child:after {
  content: "N";
  background-color: #1E9EFF;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 2px;
}
footer .footSocial {
  width: 35%;
  display: flex;
  justify-content: end;
  flex-flow: row wrap;
}
footer .footSocial ul {
  display: flex;
}
footer .footSocial ul li {
  margin-top: 40px;
  width: 55px;
}
footer .footSocial ul li a {
  text-align: center;
  line-height: 44px;
  width: 44px;
  height: 44px;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid #999;
  opacity: 0.7;
}
footer .footUnder {
  margin-top: 20px;
  width: 55%;
}
footer .footUnder .footUnderbar {
  display: flex;
  flex-flow: row wrap;
}
footer .footUnder .footUnderbar button {
  width: 100%;
  text-align: left;
  padding-bottom: 3px;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  color: #666;
}
footer .footUnder .footUnderbar button:after {
  content: "▽";
}
footer .footUnder .footUnderbar ul {
  display: flex;
  flex-flow: row wrap;
}
footer .footUnder .footUnderbar ul li {
  width: auto;
  font-size: 11px;
  padding: 3px 0px;
  cursor: pointer;
}
footer .footUnder .footUnderbar ul li:nth-child(3):after {
  content: "";
}
footer .footUnder .footUnderbar ul li:after {
  content: "|";
  display: inline-block;
  width: 20px;
  text-align: center;
  cursor: default;
}
footer .footUnder .footUnderbar ul li:last-child:after {
  content: "";
}
footer .footUnder .footUnderContents ul {
  display: flex;
}
footer .footUnder .footUnderContents ul li {
  width: auto;
  font-size: 11px;
  padding: 3px 0px;
  cursor: pointer;
}
footer .footUnder .footUnderContents ul li:nth-child(2) {
  font-weight: bold;
}
footer .footUnder .footUnderContents ul li:nth-child(2):after {
  font-weight: normal;
  cursor: default;
}
footer .footUnder .footUnderContents ul li:after {
  content: "|";
  display: inline-block;
  width: 20px;
  text-align: center;
  cursor: default;
}
footer .footUnder .footUnderContents ul li:last-child:after {
  content: "";
}
footer .footUnder .copyright {
  margin-top: 20px;
  font-size: 11px;
  height: 60px;
}