@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Ubuntu&display=swap");
@font-face {
  font-family: "RIDIBatang";
  src: url(../fonts/RIDIBatang.otf) format("opentype");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

p, i, li, span, div {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

#subWrap {
  color: #666;
  line-height: 1em;
  letter-spacing: -0.03em;
  position: relative;
  width: 100%;
  min-height: 500px;
}

.contents_wrap {
  width: 1170px;
  padding: 0;
  margin: 0 auto;
  border-top: none;
}

.contents {
  display: flex;
  width: 100%;
}
.contents #mainContents {
  width: 100%;
  display: table-cell;
  vertical-align: top;
}
.contents #mainContents section {
  width: 100%;
  padding-bottom: 95px;
}
.contents #sideBar .aside_contents {
  width: 234px;
  border-left: 1px solid #e6e6e6;
  height: 100%;
}

h3 {
  font-size: 20px;
  color: #59667a;
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
}

article {
  padding: 0 30px 70px 30px;
}

h2 {
  font-size: 30px;
  line-height: 1.3em;
  color: #333;
  font-weight: 700;
  word-break: keep-all;
  word-wrap: break-word;
  margin-top: 8px;
  cursor: default;
}

.book_info {
  padding: 40px 30px;
}
.book_info .info_box {
  width: 635px;
  float: right;
}
.book_info .info_box .info_txt > ul {
  height: 14px;
  display: flex;
}
.book_info .info_box .info_txt > ul li {
  font-size: 12px;
  color: #333;
  margin: 0px 3px;
}
.book_info .info_box .info_txt > ul li :hover {
  color: #1e9eff;
}
.book_info .info_box .info_txt > ul .between {
  margin-top: 3px;
}
.book_info .info_box .info_txt .star {
  margin: 20px 0px;
  position: relative;
}
.book_info .info_box .info_txt .star p {
  margin-top: 3px;
}
.book_info .info_box .info_txt .star p .star_icon {
  cursor: pointer;
  color: #666;
  font-size: 15px;
  line-height: 1em;
}
.book_info .info_box .info_txt .star p .star_icon .gray_star {
  margin-top: 0;
  margin-right: 3px;
  position: relative;
  width: 70px;
  height: 14px;
  vertical-align: -11%;
  text-indent: -444px;
  overflow: hidden;
  font-size: 0;
  display: inline-block;
  background: url(../img/sub_img/star_base.svg) center center no-repeat;
  background-size: 100% 100%;
}
.book_info .info_box .info_txt .star p .star_icon .gray_star .fill_star {
  display: block;
  position: relative;
  overflow-x: hidden;
  height: 14px;
}
.book_info .info_box .info_txt .star p .star_icon .gray_star .fill_star::after {
  background: url(../img/sub_img/star_fill.svg) center center no-repeat;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 14px;
  content: "";
}
.book_info .info_box .info_txt .star p .star_icon .score {
  display: inline-block;
  font-size: 14px;
  color: #fa772e;
}
.book_info .info_box .info_txt .star p .star_icon .how_many {
  margin-left: 2px;
  font-size: 12px;
}
.book_info .info_box .info_txt .name {
  margin: 20px 0px;
}
.book_info .info_box .info_txt .name .author_tranlator {
  font-size: 13px;
  position: relative;
  padding-bottom: 5px;
  line-height: 17px;
}
.book_info .info_box .info_txt .name .author_tranlator .api_authors {
  padding-left: 0px;
  margin-left: 0px;
  position: relative;
  margin-right: 5px;
  font-weight: 700;
  color: #666;
}
.book_info .info_box .info_txt .name .author_tranlator .api_authors:hover {
  color: #1e9eff;
}
.book_info .info_box .info_txt .name .author_tranlator .api_translators {
  font-size: 13px;
  color: #666;
  font-weight: 700;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-left: 7px;
}
.book_info .info_box .info_txt .name .author_tranlator .api_translators::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  left: 105px;
  top: 50%;
  margin-top: -5px;
  background: #d1d5d9;
}
.book_info .info_box .info_txt .name .author_tranlator .api_translators:hover {
  color: #1e9eff;
}
.book_info .info_box .info_txt .name .publisher {
  font-size: 13px;
  position: relative;
  padding-bottom: 0px;
  line-height: 17px;
}
.book_info .info_box .info_txt .name .publisher .api_publisher {
  font-size: 13px;
  padding-left: 0px;
  margin-left: 0px;
  position: relative;
  margin-right: 5px;
  font-weight: 700;
  color: #666;
}
.book_info .info_box .info_txt .name .publisher .api_publisher:hover {
  color: #1e9eff;
}
.book_info .info_box .event_info {
  border-top: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
  position: relative;
}
.book_info .info_box .event_info .event_btn {
  top: 9px;
  left: 0;
  background-color: #e3e0ee;
  color: #605baf;
  position: absolute;
  width: 40px;
  height: 18px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.book_info .info_box .event_info a {
  padding-left: 48px;
  padding-right: 0;
  display: block;
  position: relative;
  padding: 8px 0;
}
.book_info .info_box .event_info a span {
  position: relative;
  font-size: 14px;
  color: #646c73;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.7px;
  margin-left: 48px;
}
.book_info .info_box .event_info a span:hover {
  color: #1e9eff;
}
.book_info .info_box .event_info .event_arrow {
  font-size: 10px;
  float: right;
  position: absolute;
  right: 10px;
  top: 40%;
  color: #b8bfc4;
}
.book_info .info_box .price_info {
  margin: 15px 0px;
  cursor: default;
}
.book_info .info_box .price_info table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
  border-spacing: 0;
}
.book_info .info_box .price_info table .price_title {
  width: 27.5%;
  color: #40474d;
  border-right: 1px solid #e6e8eb;
  background: #f7fafc;
  min-height: 36px;
  padding: 7px 0;
  vertical-align: middle;
  font-size: 13px;
}
.book_info .info_box .price_info table .price_type {
  width: 25%;
  padding: 7px 10px;
  white-space: nowrap;
  color: #808991;
  min-height: 36px;
  vertical-align: middle;
  font-size: 13px;
}
.book_info .info_box .price_info table .book_price {
  width: 27.5%;
  text-align: right;
  font-weight: 700;
  padding: 7px 10px;
  white-space: nowrap;
  color: #808991;
  min-height: 36px;
  vertical-align: middle;
  font-size: 13px;
}
.book_info .info_box .price_info table .discount_1:before {
  content: "20%↓";
}
.book_info .info_box .price_info table .discount_2:before {
  content: "10%↓";
  color: #eb372d;
}
.book_info .info_box .price_info table .discount_2 {
  color: #1e9eff;
}
.book_info .info_box .price_info .event_period {
  padding-top: 9px;
  line-height: 15px;
  text-align: right;
  color: #808991;
  font-size: 12px;
  letter-spacing: -0.3px;
}
.book_info .info_box .price_info .event_period span {
  padding-left: 9px;
  position: relative;
}
.book_info .info_box .price_info .event_period span:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 7px;
  left: 1px;
  background: #808991;
}
.book_info .info_box .price_btn {
  margin-top: 15px;
  height: 48px;
  display: flex;
  justify-content: end;
}
.book_info .info_box .price_btn ul {
  width: 271px;
  display: flex;
  justify-content: end;
  white-space: nowrap;
}
.book_info .info_box .price_btn ul .btn_item {
  padding-left: 0;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 4px;
  outline: 0;
  font-weight: 700;
  border: 1px solid #d1d5d9;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  transition: all 0.2s;
}
.book_info .info_box .price_btn ul .btn_item:hover {
  background-color: #eee;
}
.book_info .info_box .price_btn ul .btn_item a {
  width: 48px;
  font-size: 18px;
  text-align: center;
  height: 48px;
  line-height: 46px;
  color: #808991;
  padding: 0;
}
.book_info .info_box .price_btn ul .btn_last {
  margin-right: 0px;
  background-color: #1e9eff;
  min-width: 112px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
.book_info .info_box .price_btn ul .btn_last:hover {
  background-color: #1f8ce6;
}
.book_info .info_box .price_btn ul .btn_last a {
  color: #fff;
  font-size: 15px;
}
.book_info .cover_box {
  width: 200px;
  height: 313px;
  float: left;
}
.book_info .cover_box .book_cover {
  width: 200px;
  max-height: 313px;
  position: relative;
  display: inline-block;
  cursor: zoom-in;
}
.book_info .cover_box .book_cover img {
  width: 100%;
}
.book_info .cover_box #previewBtn {
  margin-top: 12px;
  margin-left: 35px;
  width: 130px;
  padding: 12px 0;
  color: #1e9eff;
  border: 1px solid #1f8ce6;
  box-shadow: 0 1px 1px 0 rgba(31, 140, 230, 0.3);
  font-size: 13px;
  text-align: center;
  display: block;
  border-radius: 5px;
}
.book_info .cover_box #previewBtn span {
  font-size: 14px;
}
.book_info .cover_box #previewBtn:hover {
  background-color: rgba(31, 140, 230, 0.2);
  transition: all 0.3s;
  color: #1e9eff;
}
.book_info .clear_both {
  display: block;
  clear: both;
  width: 0;
  height: 0;
  border: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.book_info .book_detail {
  display: grid;
  margin-top: 30px;
  grid-template-columns: 360px auto;
  padding: 20px 26px 13px;
  border: 4px solid #f2f4f5;
  cursor: default;
}
.book_info .book_detail ul > li {
  display: table;
  padding-bottom: 7px;
  font-size: 12px;
  color: #666;
}
.book_info .book_detail ul > li span {
  display: table-cell;
  width: 63px;
  padding-right: 9px;
  line-height: 16px;
  font-weight: 700;
  color: #525a61;
}
.book_info .book_detail ul > li > ul {
  display: table-cell;
}
.book_info .book_detail ul > li > ul li {
  position: relative;
  line-height: 16px;
  display: block;
}
.book_info .book_detail ul > li > ul .detail_pub_info {
  width: 100%;
  padding-bottom: 2px;
}
.book_info .book_detail ul > li > ul .detail_pub_info:last-child {
  padding-bottom: 0px;
}
.book_info .book_detail ul > li > ul .detail_file_info {
  display: inline-block;
  padding-right: 9px;
}
.book_info .book_detail ul > li > ul .detail_file_info:nth-child(1):after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  right: 4px;
  top: 50%;
  margin-top: -8px;
  background: #d1d5d9;
}
.book_info .book_detail ul > li > ul .detail_file_info:nth-child(2):after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  right: 4px;
  top: 50%;
  margin-top: -8px;
  background: #d1d5d9;
}
.book_info .book_detail ul > li > ul .detail_file_info:last-child {
  padding-right: 0px;
}
.book_info .book_detail ul > li > ul .detail_isbn, .book_info .book_detail ul > li > ul .detail_ecn {
  width: 100%;
  padding-bottom: 0;
}
.book_info .book_detail ul > li > ul .detail_comp_device {
  display: inline-block;
  position: relative;
  margin-right: 9px;
  line-height: 16px;
}

.book_intro {
  padding: 0 30px 70px 30px;
}
.book_intro .intro_title {
  margin-bottom: 15px;
  padding: 10px 0 8px 0;
  border-bottom: 2px solid #7d8e9e;
}
.book_intro .intro_title h3 {
  letter-spacing: -0.03em;
}
.book_intro .intro_title h3 .book_title {
  display: block;
  font-size: 17px;
  color: #59667a;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.book_intro .intro_title h3 .intro_book {
  font-size: 20px;
  letter-spacing: -0.03em;
}
.book_intro .intro_content .intro_para {
  line-height: 1.8em;
  font-size: 13px;
  color: #333;
  word-break: keep-all;
  word-wrap: break-word;
  cursor: pointer;
}
.book_intro .intro_content .intro_para .indent_hidden {
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.book_intro .intro_content .intro_para img {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 1px solid #b3b3b3;
}
.book_intro .intro_content .intro_para .intro_text {
  margin-top: 50px;
  line-height: 1.8em;
  font-size: 13px;
  color: #333;
}
.book_intro .intro_content div.foldable {
  cursor: pointer;
}
.book_intro .intro_content div.folded {
  width: 100%;
  height: 186px;
  overflow: hidden;
  cursor: pointer;
}

.spread_content {
  display: block;
}

.intro_fold {
  display: none;
}

.pub_fold {
  display: none;
}

.aut_fold {
  display: none;
}

.spread_content {
  float: right;
  background: 0 0;
  font-size: 13px;
  color: #1e9eff;
  border: none;
  cursor: pointer;
}
.spread_content .fa-solid {
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
}

.pub_write .write_title {
  margin-bottom: 15px;
  padding: 10px 0 8px 0;
  border-bottom: 2px solid #7d8e9e;
}
.pub_write .write_text {
  line-height: 1.8em;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}
.pub_write .write_text.folded {
  width: 100%;
  height: 186px;
  overflow: hidden;
  cursor: pointer;
}

.author_profile {
  padding-bottom: 40px;
}
.author_profile .profile_title {
  margin-bottom: 15px;
  padding: 10px 0 8px 0;
  border-bottom: 2px solid #7d8e9e;
}
.author_profile .profile_nav {
  font-size: 12px;
  position: relative;
  height: 33px;
  overflow: hidden;
}
.author_profile .profile_nav ul {
  box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid #d1d5d9;
  height: 12px;
  padding: 10px 0;
  min-width: 100%;
  white-space: nowrap;
  cursor: default;
}
.author_profile .profile_nav ul li {
  display: inline-block;
  height: 12px;
  padding: 0px 17px 0px 20px;
  border-left: 1px solid #d1d5d9;
}
.author_profile .profile_nav ul li span {
  color: #808991;
  margin-right: 7px;
}
.author_profile .profile_nav ul li:first-child {
  border-left: none;
  padding-left: 0;
}
.author_profile .profile_nav ul li a {
  font-weight: 700;
  color: #808991;
}
.author_profile .profile_nav ul li a:hover {
  color: #333;
}
.author_profile .profile_nav ul li a.active {
  color: #333;
  padding-bottom: 6px;
  border-bottom: 1px solid #333;
}
.author_profile .profile_contents {
  position: relative;
}
.author_profile .profile_contents .author_content.display {
  display: block;
}
.author_profile .profile_contents .translator_content.display {
  display: block;
}
.author_profile .profile_contents .author_content {
  padding-top: 30px;
  padding: 20px 0 0 0;
  display: none;
  overflow: hidden;
}
.author_profile .profile_contents .author_content #higashino {
  width: 100%;
}
.author_profile .profile_contents .author_content #higashino .author_name {
  padding: 0 10px 17px 0;
}
.author_profile .profile_contents .author_content #higashino .author_name .name_txt h4 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  line-height: 1.3em;
  display: inline-block;
}
.author_profile .profile_contents .author_content #higashino .author_name .name_txt > span {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.3em;
}
.author_profile .profile_contents .author_content #higashino .author_name .name_txt:hover h4 {
  color: #1f8ce6;
  cursor: pointer;
}
.author_profile .profile_contents .author_content #higashino .author_name .name_txt:hover span {
  color: #1f8ce6;
  cursor: pointer;
}
.author_profile .profile_contents .author_content #higashino .news_btn {
  display: block;
  width: 168px;
  padding: 8px 8px 7px 8px;
  font-size: 12px;
  line-height: 1em;
  text-align: center;
  color: #0080f6;
  border-color: #0080f6;
  border: 1px solid #1f8ce6;
  box-shadow: 0 1px 1px 0 rgba(31, 140, 230, 0.3);
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}
.author_profile .profile_contents .author_content #higashino .news_btn:hover {
  background-color: #ebf6ff;
}
.author_profile .profile_contents .author_content #higashino table {
  padding-top: 8px;
  cursor: default;
}
.author_profile .profile_contents .author_content #higashino table tr th {
  padding-right: 7px;
  width: 3em;
  font-size: 13px;
  color: #808991;
  line-height: 1.8em;
  font-weight: 400;
}
.author_profile .profile_contents .author_content #higashino table tr td {
  font-size: 13px;
  color: #333;
  line-height: 1.8em;
}
.author_profile .profile_contents .author_content #higashino .content_edit {
  padding: 14px 1px 20px 0;
  text-align: right;
}
.author_profile .profile_contents .author_content #higashino .content_edit span {
  padding-right: 10px;
  color: #9ea7ad;
  font-size: 13px;
  cursor: default;
}
.author_profile .profile_contents .author_content #higashino .content_edit a {
  color: #808991;
  border-radius: 4px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 1em;
  vertical-align: baseline;
  transition: background-color 0.2s, color 0.2s;
  background: #fff;
  border: 1px solid #d1d5d9;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  font-size: 11px;
  padding: 4px 10px;
}
.author_profile .profile_contents .author_content #higashino .content_edit a:hover {
  background-color: #eee;
}
.author_profile .profile_contents .author_content .featured_book {
  border-top: 1px solid #eee;
}
.author_profile .profile_contents .author_content .featured_book .featured_title {
  margin-top: 26px;
  display: table;
  width: 100%;
}
.author_profile .profile_contents .author_content .featured_book .featured_title h5 {
  display: table-cell;
  padding-left: 16px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.author_profile .profile_contents .author_content .featured_book .featured_title ul {
  display: table-cell;
  text-align: right;
  vertical-align: top;
}
.author_profile .profile_contents .author_content .featured_book .featured_title ul li {
  display: inline-block;
  height: 1em;
  border-left: 1px solid #ccc;
}
.author_profile .profile_contents .author_content .featured_book .featured_title ul li:first-child {
  border-left: none;
}
.author_profile .profile_contents .author_content .featured_book .featured_title ul li a.active {
  color: #333;
}
.author_profile .profile_contents .author_content .featured_book .featured_title ul li a {
  padding: 8px;
  font-size: 11px;
  font-weight: 700;
  color: #999;
}
.author_profile .profile_contents .author_content .featured_book .featured_title ul li a:hover {
  color: #333;
}
.author_profile .profile_contents .author_content .featured_book .popular {
  display: block;
}
.author_profile .profile_contents .author_content .featured_book .liked {
  display: none;
}
.author_profile .profile_contents .author_content .featured_book .latest {
  display: none;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover {
  padding: 10px 0 20px 0;
  overflow: hidden;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list {
  width: 20%;
  float: left;
  margin-top: 20px;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_thumbnail {
  height: 135px;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 90px;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_thumbnail div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_thumbnail .discount_badge {
  display: block;
  position: absolute;
  left: -7px;
  top: -7px;
  z-index: 9;
  line-height: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  background: #59667a;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  cursor: pointer;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_thumbnail .discount_badge .discount_num {
  display: block;
  width: 40px;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.55em;
  margin-left: -14px;
  color: #fff;
  letter-spacing: -0.05em;
  line-height: 1em;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_thumbnail .discount_badge .discount_num .num {
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: -0.03em;
  margin-right: -3px;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_thumbnail .discount_badge .discount_num .percent {
  font-size: 10px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: -0.03em;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text {
  width: 90px;
  text-align: left;
  display: block;
  margin: 8px auto 0 auto;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .title {
  margin-top: 3px;
  font-size: 13px;
  line-height: 1.4em;
  letter-spacing: -0.03em;
  font-weight: 700;
  color: #333;
  text-overflow: ellipsis;
  max-height: 2.7em;
  overflow: hidden;
  white-space: normal;
  cursor: pointer;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box {
  margin-top: 3px;
  cursor: pointer;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate {
  margin-top: 4px;
  color: #999;
  font-size: 11px;
  line-height: 1em;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon {
  position: relative;
  margin-top: -1px;
  margin-right: 1px;
  width: 50px;
  height: 10px;
  display: inline-block;
  vertical-align: -11%;
  text-indent: -444px;
  font-size: 0;
  overflow: hidden;
  background: url(../img/sub_img/star_base.svg) center center no-repeat;
  background-size: 100% 100%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star_rate_fill {
  display: block;
  position: relative;
  height: 10px;
  overflow-x: hidden;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star_rate_fill:after {
  background: url(../img/sub_img/star_fill.svg) center center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 10px;
  content: "";
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star20 {
  width: 20%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star66 {
  width: 66%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star78 {
  width: 78%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star82 {
  width: 82%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star84 {
  width: 84%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star92 {
  width: 92%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star94 {
  width: 94%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star96 {
  width: 96%;
}
.author_profile .profile_contents .author_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star100 {
  width: 100%;
}
.author_profile .profile_contents .author_content .featured_book .featured_all {
  float: right;
  font-size: 12px;
  font-weight: 700;
  padding: 0.8em;
  color: #808991;
  border-radius: 4px;
  transition: background-color 0.3s;
  background: #fff;
  border: 1px solid #d1d5d9;
  box-shadow: 0 2px 4px 0 rgba(209, 213, 217, 0.3);
}
.author_profile .profile_contents .author_content .featured_book .featured_all:hover {
  background-color: #eee;
}
.author_profile .profile_contents .translator_content {
  padding-top: 30px;
  padding: 20px 0 0 0;
  display: none;
  overflow: hidden;
}
.author_profile .profile_contents .translator_content #goeun {
  width: 100%;
}
.author_profile .profile_contents .translator_content #goeun .translator_name {
  padding: 0 10px 17px 0;
}
.author_profile .profile_contents .translator_content #goeun .translator_name .name_txt h4 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  line-height: 1.3em;
  display: inline-block;
}
.author_profile .profile_contents .translator_content #goeun .translator_name .name_txt:hover h4 {
  color: #1f8ce6;
  cursor: pointer;
}
.author_profile .profile_contents .translator_content #goeun .news_btn {
  display: block;
  width: 168px;
  padding: 8px 8px 7px 8px;
  font-size: 12px;
  line-height: 1em;
  text-align: center;
  color: #0080f6;
  border-color: #0080f6;
  border: 1px solid #1f8ce6;
  box-shadow: 0 1px 1px 0 rgba(31, 140, 230, 0.3);
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}
.author_profile .profile_contents .translator_content #goeun .news_btn:hover {
  background-color: #ebf6ff;
}
.author_profile .profile_contents .translator_content #goeun table {
  padding-top: 8px;
  cursor: default;
}
.author_profile .profile_contents .translator_content #goeun table tr th {
  padding-right: 7px;
  width: 3em;
  font-size: 13px;
  color: #808991;
  line-height: 1.8em;
  font-weight: 400;
}
.author_profile .profile_contents .translator_content #goeun table tr td {
  font-size: 13px;
  color: #333;
  line-height: 1.8em;
}
.author_profile .profile_contents .translator_content #goeun .content_edit {
  padding: 14px 1px 20px 0;
  text-align: right;
}
.author_profile .profile_contents .translator_content #goeun .content_edit span {
  padding-right: 10px;
  color: #9ea7ad;
  font-size: 13px;
  cursor: default;
}
.author_profile .profile_contents .translator_content #goeun .content_edit a {
  color: #808991;
  border-radius: 4px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 1em;
  vertical-align: baseline;
  transition: background-color 0.2s, color 0.2s;
  background: #fff;
  border: 1px solid #d1d5d9;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  font-size: 11px;
  padding: 4px 10px;
}
.author_profile .profile_contents .translator_content #goeun .content_edit a:hover {
  background-color: #eee;
}
.author_profile .profile_contents .translator_content .featured_book {
  border-top: 1px solid #eee;
  cursor: default;
}
.author_profile .profile_contents .translator_content .featured_book .featured_title {
  margin-top: 26px;
  display: table;
  width: 100%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_title h5 {
  display: table-cell;
  padding-left: 16px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.author_profile .profile_contents .translator_content .featured_book .featured_title ul {
  display: table-cell;
  text-align: right;
  vertical-align: top;
}
.author_profile .profile_contents .translator_content .featured_book .featured_title ul li {
  display: inline-block;
  height: 1em;
  border-left: 1px solid #ccc;
}
.author_profile .profile_contents .translator_content .featured_book .featured_title ul li:first-child {
  border-left: none;
}
.author_profile .profile_contents .translator_content .featured_book .featured_title ul li a.active {
  color: #333;
}
.author_profile .profile_contents .translator_content .featured_book .featured_title ul li a {
  padding: 8px;
  font-size: 11px;
  font-weight: 700;
  color: #999;
}
.author_profile .profile_contents .translator_content .featured_book .featured_title ul li a:hover {
  color: #333;
}
.author_profile .profile_contents .translator_content .featured_book .popular {
  display: block;
}
.author_profile .profile_contents .translator_content .featured_book .liked {
  display: none;
}
.author_profile .profile_contents .translator_content .featured_book .latest {
  display: none;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover {
  padding: 10px 0 20px 0;
  overflow: hidden;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list {
  width: 20%;
  float: left;
  margin-top: 20px;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_thumbnail {
  height: 135px;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 90px;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_thumbnail div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_thumbnail .discount_badge {
  display: block;
  position: absolute;
  left: -7px;
  top: -7px;
  z-index: 9;
  line-height: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  background: #59667a;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  cursor: pointer;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_thumbnail .discount_badge .discount_num {
  display: block;
  width: 40px;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.55em;
  margin-left: -14px;
  color: #fff;
  letter-spacing: -0.05em;
  line-height: 1em;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_thumbnail .discount_badge .discount_num .num {
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: -0.03em;
  margin-right: -3px;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_thumbnail .discount_badge .discount_num .percent {
  font-size: 10px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: -0.03em;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text {
  width: 90px;
  text-align: left;
  display: block;
  margin: 8px auto 0 auto;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .title {
  margin-top: 3px;
  font-size: 13px;
  line-height: 1.4em;
  letter-spacing: -0.03em;
  font-weight: 700;
  color: #333;
  text-overflow: ellipsis;
  max-height: 2.7em;
  overflow: hidden;
  white-space: normal;
  cursor: pointer;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box {
  margin-top: 3px;
  cursor: pointer;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate {
  margin-top: 4px;
  color: #999;
  font-size: 11px;
  line-height: 1em;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon {
  position: relative;
  margin-top: -1px;
  margin-right: 1px;
  width: 50px;
  height: 10px;
  display: inline-block;
  vertical-align: -11%;
  text-indent: -444px;
  font-size: 0;
  overflow: hidden;
  background: url(../img/sub_img/star_base.svg) center center no-repeat;
  background-size: 100% 100%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star_rate_fill {
  display: block;
  position: relative;
  height: 10px;
  overflow-x: hidden;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star_rate_fill:after {
  background: url(../img/sub_img/star_fill.svg) center center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 10px;
  content: "";
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star20 {
  width: 20%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star66 {
  width: 66%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star78 {
  width: 78%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star82 {
  width: 82%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star84 {
  width: 84%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star88 {
  width: 88%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star90 {
  width: 90%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star92 {
  width: 92%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star94 {
  width: 94%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star96 {
  width: 96%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_cover .featured_list .featured_text .star_box .star_rate .star_rate_icon .star100 {
  width: 100%;
}
.author_profile .profile_contents .translator_content .featured_book .featured_all {
  float: right;
  font-size: 12px;
  font-weight: 700;
  padding: 0.8em;
  color: #808991;
  border-radius: 4px;
  transition: background-color 0.3s;
  background: #fff;
  border: 1px solid #d1d5d9;
  box-shadow: 0 2px 4px 0 rgba(209, 213, 217, 0.3);
}
.author_profile .profile_contents .translator_content .featured_book .featured_all:hover {
  background-color: #eee;
}

.author_intro {
  padding-bottom: 40px;
}
.author_intro .author_title {
  margin-bottom: 15px;
  padding: 10px 0 8px 0;
  border-bottom: 2px solid #7d8e9e;
}
.author_intro .author_text {
  line-height: 1.8em;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}
.author_intro .author_text.folded {
  width: 100%;
  height: 186px;
  overflow: hidden;
  cursor: pointer;
}

.book_chapter .chapter_title {
  margin-bottom: 15px;
  padding: 10px 0 8px 0;
  border-bottom: 2px solid #7d8e9e;
}
.book_chapter .chapter_text {
  line-height: 1.8em;
  font-size: 13px;
  color: #333;
}

.book_review {
  position: relative;
}
.book_review .write_review_alert {
  position: fixed;
  display: none;
  background-color: #333;
  padding: 10px 60px;
  border-radius: 4px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.book_review .write_review_alert p {
  color: #f88792;
  margin-left: -20px;
  font-size: 14px;
  padding-left: -21px;
}
.book_review .write_review_alert .write_alert_close {
  position: absolute;
  right: 10px;
  color: #999;
  display: block;
  top: 10px;
  cursor: pointer;
}
.book_review .review_title {
  margin-bottom: 15px;
  padding: 10px 0 8px 0;
  border-bottom: 2px solid #7d8e9e;
}
.book_review .review_input {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.book_review .review_input .review_left {
  display: table-cell;
  width: 120px;
  padding: 32px 0 20px 0;
  text-align: center;
  cursor: default;
}
.book_review .review_input .review_left .left_title {
  font-size: 12px;
  color: #808991;
  font-weight: 600;
}
.book_review .review_input .review_left .left_score {
  margin-top: 25px;
  display: inline-block;
  font-size: 35px;
  color: #212529;
  font-weight: 700;
}
.book_review .review_input .review_left .left_star {
  margin-top: 11px;
  font-size: 16px;
  color: #666;
  line-height: 1em;
}
.book_review .review_input .review_left .left_star .left_star_box {
  position: relative;
  margin-top: -1px;
  margin-right: 1px;
  width: 75px;
  height: 15px;
  vertical-align: -11%;
  display: inline-block;
  text-indent: -444px;
  font-size: 0;
  overflow: hidden;
  background: url("../img/sub_img/star_base.svg") center center no-repeat;
  background-size: 100% 100%;
}
.book_review .review_input .review_left .left_star .left_star_box .left_star_fill {
  width: 66%;
  display: block;
  position: relative;
  overflow-x: hidden;
  height: 15px;
}
.book_review .review_input .review_left .left_star .left_star_box .left_star_fill:after {
  background: url("../img/sub_img/star_fill.svg") center center no-repeat;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 15px;
  content: "";
  text-indent: -444px;
  font-size: 0;
  overflow: hidden;
}
.book_review .review_input .review_left .left_graph {
  padding: 8px 0 10px 0;
}
.book_review .review_input .review_left .left_graph li {
  margin-top: 8px;
  color: #808991;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.08em;
}
.book_review .review_input .review_left .left_graph li i {
  font-size: 9px;
  color: #898991;
}
.book_review .review_input .review_left .left_graph li .score_bg {
  display: inline-block;
  width: 72px;
  height: 8px;
  background: #e8edf3;
  margin-left: 4px;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.book_review .review_input .review_left .left_graph li .score_bg .score_bar {
  display: block;
  height: 8px;
  background: linear-gradient(to bottom, #9daab5, #718392);
}
.book_review .review_input .review_left .left_graph li .score_bg .bar0 {
  width: 0%;
}
.book_review .review_input .review_left .left_graph li .score_bg .bar33 {
  width: 33%;
}
.book_review .review_input .review_left .left_graph li .score_bg .bar67 {
  width: 67%;
}
.book_review .review_input .review_left .left_people {
  width: 94px;
  margin: 0 auto;
  padding-top: 8px;
  border-top: 1px solid #e5e5e5;
  font-size: 12px;
  color: #94a2b8;
}
.book_review .review_input .review_right {
  display: table-cell;
  vertical-align: top;
}
.book_review .review_input .review_right .right_wrap {
  margin-top: 14px;
}
.book_review .review_input .review_right .right_wrap .right_title {
  position: relative;
  padding-bottom: 18px;
}
.book_review .review_input .review_right .right_wrap .right_title .star_wrap {
  height: 42px;
  text-align: center;
}
.book_review .review_input .review_right .right_wrap .right_title .star_wrap .tip_title {
  display: none;
  font-size: 18px;
  color: #999;
  font-weight: 700;
  padding-top: 10px;
}
.book_review .review_input .review_right .right_wrap .right_title .star_wrap .tip_title.active {
  display: inline-block;
}
.book_review .review_input .review_right .right_wrap .right_title .star_wrap .star_tip {
  display: none;
  position: relative;
  padding: 9px 15px;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  background: #1f8ce6;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
.book_review .review_input .review_right .right_wrap .right_title .star_wrap .star_tip .arrow_down {
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -0.4em;
  font-size: 20px;
  color: #1f8ce6;
}
.book_review .review_input .review_right .right_wrap .right_title .star_wrap .star_tip.active {
  display: inline-block;
}
.book_review .review_input .review_right .right_wrap .right_title .star_area {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.book_review .review_input .review_right .right_wrap .right_title .star_area label {
  display: inline-block;
  width: 64px;
  height: 48px;
  text-align: center;
  margin-left: -10px;
  background: url("../img/sub_img/icon_star.png") 50% top no-repeat;
  background-size: 45px 90px;
  cursor: pointer;
}
.book_review .review_input .review_right .right_wrap .right_title .star_area label.active {
  background-position: 50% -45px;
}
.book_review .review_input .review_right .right_wrap .right_title .star_area .separate_bar {
  display: inline-block;
  width: 2px;
  height: 48px;
  margin-right: 5px;
  background: url("../img/sub_img/separate.png") left top no-repeat;
  background-size: 2px 45px;
}
.book_review .review_input .review_right .right_wrap .right_input .review_input_area {
  border: 2px solid #d1d5d9;
  border-radius: 5px;
  width: 100%;
  height: 112px;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 15px;
  line-height: 1.5em;
  color: #a7b1bb;
  resize: vertical;
}
.book_review .review_input .review_right .right_wrap .right_button {
  padding: 10px 0;
  height: 30px;
}
.book_review .review_input .review_right .right_wrap .right_button .caution_btn {
  float: left;
}
.book_review .review_input .review_right .right_wrap .right_button .caution_btn span {
  border-radius: 4px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 1em;
  vertical-align: baseline;
  transition: background-color 0.2s, color 0.2s;
  border: 1px solid #d1d5d9;
  background: #fff;
  color: #808991;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  font-size: 12px;
  padding: 8px 18px;
}
.book_review .review_input .review_right .right_wrap .right_button .caution_btn span:hover {
  background-color: #eee;
}
.book_review .review_input .review_right .right_wrap .right_button .spoil_wrap {
  float: right;
}
.book_review .review_input .review_right .right_wrap .right_button .spoil_wrap .spoiler_box {
  display: inline-block;
  margin-right: 3px;
}
.book_review .review_input .review_right .right_wrap .right_button .spoil_wrap .spoiler_box input {
  width: 18px;
  height: 18px;
  border: 1px solid #b9bcc2;
  background-color: transparent;
  cursor: pointer;
  box-shadow: inset 0 1px 0 #e5e5e5;
  border-radius: 4px;
  position: absolute;
  z-index: 9;
}
.book_review .review_input .review_right .right_wrap .right_button .spoil_wrap .spoiler_box label {
  vertical-align: top;
  line-height: 18px;
  padding: 0 0 0 26px;
  position: relative;
  margin-right: 10px;
  color: #636c73;
  font-size: 13px;
  font-weight: 700;
  height: 18px;
  transition: color 0.2s;
  cursor: pointer;
}
.book_review .review_input .review_right .right_wrap .right_button .spoil_wrap .spoiler_box label:before {
  content: "";
  background: #fff;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -1px;
  top: 50%;
  margin-top: -9px;
  transition: background-color 0.2s, border-color 0.2s;
}
.book_review .review_input .review_right .right_wrap .right_button .spoil_wrap .write_btn {
  display: inline-block;
}
.book_review .review_input .review_right .right_wrap .right_button .spoil_wrap .write_btn button {
  background: #ccc;
  border-color: #ccc;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  text-align: center;
  line-height: 1em;
  vertical-align: baseline;
  transition: background-color 0.2s, color 0.2s;
  color: #fff;
  font-size: 12px;
  padding: 8px 18px;
  outline: 0;
}
.book_review .review_detail {
  margin-top: 25px;
}
.book_review .review_detail .tab_title {
  position: relative;
  cursor: default;
}
.book_review .review_detail .tab_title .tab_1 {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #d1d5d9;
}
.book_review .review_detail .tab_title .tab_1 li {
  margin-right: 13px;
  display: inline-block;
}
.book_review .review_detail .tab_title .tab_1 li a {
  line-height: 1em;
  display: block;
  position: relative;
  padding: 10px 0;
  min-width: 25px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border: none;
  background: 0 0;
  transition: color 0.2s;
  color: #808991;
}
.book_review .review_detail .tab_title .tab_1 li a:after {
  display: block;
  content: "";
  transition: height 0.2s, background-color 0.2s;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.book_review .review_detail .tab_title .tab_1 li a.active {
  color: #40474d;
}
.book_review .review_detail .tab_title .tab_1 li a.active.active:after {
  height: 2px;
  background-color: #000;
}
.book_review .review_detail .tab_title .tab_2 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px 0;
  display: none;
}
.book_review .review_detail .tab_title .tab_2 li {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 10px;
  border-left: 1px solid #e6e8eb;
  text-align: center;
}
.book_review .review_detail .tab_title .tab_2 li:first-child {
  border-left: none;
}
.book_review .review_detail .tab_title .tab_2 li a {
  margin-left: -8px;
  line-height: 1em;
  display: block;
  padding: 8px;
  margin-top: -8px;
  margin-left: 2px;
  font-size: 12px;
  font-weight: 700;
  transition: color 0.2s;
  color: #808991;
}
.book_review .review_detail .tab_title .tab_2 li a.active {
  color: #303538;
}
.book_review .review_detail .tab_title .tab_2.active {
  display: block;
}
.book_review .review_detail .written_review {
  overflow: hidden;
  transition: height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  transform: translateZ(0);
  padding-top: 13px;
  position: relative;
}
.book_review .review_detail .written_review .written_cont {
  padding: 40px 0;
  border-bottom: 1px solid #ced2d6;
}
.book_review .review_detail .written_review .written_cont p {
  text-align: center;
  font-size: 15px;
  color: #808991;
  letter-spacing: -0.03em;
  font-weight: 700;
  line-height: 1.8em;
}
.book_review .bot_qna {
  margin-top: 15px;
  position: relative;
}
.book_review .bot_qna .qna_btn {
  color: #8595a3;
  font-size: 12px;
  padding: 5px 0;
  transition: color 0.3s;
  cursor: pointer;
}
.book_review .bot_qna .qna_btn:after {
  content: "";
  margin-left: 5px;
  display: inline-block;
  text-indent: -444px;
  font-size: 0;
  overflow: hidden;
  background: url("../img/sub_img/down_dbarrow.svg") center center no-repeat;
  background-size: 100% 100%;
  width: 7px;
  height: 7px;
}
.book_review .bot_qna .qna_btn.active {
  color: #303745;
}
.book_review .bot_qna .qna_btn.active.active:after {
  content: "";
  margin-left: 5px;
  display: inline-block;
  text-indent: -444px;
  font-size: 0;
  overflow: hidden;
  background: url("../img/sub_img/upper_dbarrow.svg") center center no-repeat;
  background-size: 100% 100%;
  width: 7px;
  height: 7px;
}
.book_review .bot_qna .qna_contents {
  max-height: 600px;
  transition: max-height 0.6s;
  overflow: hidden;
  display: none;
}
.book_review .bot_qna .qna_contents .qna_description {
  background: #f3f4f5;
  border-radius: 3px;
  margin-top: 7px;
  padding: 24px;
}
.book_review .bot_qna .qna_contents .qna_description .qna_top_txt {
  color: #303745;
  font-size: 13px;
  line-height: 20px;
}
.book_review .bot_qna .qna_contents .qna_description dl dt {
  margin-top: 10px;
  color: #8595a2;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}
.book_review .bot_qna .qna_contents .qna_description dl dd {
  color: #8595a2;
  font-size: 13px;
  line-height: 20px;
}

.together_buy {
  padding-bottom: 70px;
  max-height: 600px;
  opacity: 1;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.together_buy .buy_title {
  margin-bottom: 15px;
  padding: 10px 0 8px 0;
  border-bottom: 2px solid #7d8e9e;
}
.together_buy .buy_list .buy_book {
  width: 20%;
  float: left;
  margin-top: 20px;
}
.together_buy .buy_list .buy_book .buy_cover {
  width: 90px;
  height: 135px;
  position: relative;
  text-align: left;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.together_buy .buy_list .buy_book .buy_cover div {
  width: 90px;
  height: 135px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.together_buy .buy_list .buy_book .buy_cover .discount_badge {
  display: block;
  position: absolute;
  left: -7px;
  top: -7px;
  z-index: 9;
  line-height: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  background: #59667a;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  cursor: pointer;
}
.together_buy .buy_list .buy_book .buy_cover .discount_badge .discount_num {
  display: block;
  width: 40px;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.55em;
  margin-left: -14px;
  color: #fff;
  letter-spacing: -0.05em;
  line-height: 1em;
}
.together_buy .buy_list .buy_book .buy_cover .discount_badge .discount_num .num {
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: -0.03em;
  margin-right: -3px;
}
.together_buy .buy_list .buy_book .buy_cover .discount_badge .discount_num .percent {
  font-size: 10px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: -0.03em;
}
.together_buy .buy_list .buy_book .buy_cover .badge_rental {
  display: block;
  position: absolute;
  left: -7px;
  top: -7px;
  z-index: 9;
  line-height: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  background: #3ea590;
  border: 1px solid #15967d;
  border-radius: 40px;
}
.together_buy .buy_list .buy_book .buy_cover .badge_rental .rental_txt {
  display: block;
  width: 40px;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -20px;
  text-align: center;
  color: #fff;
  line-height: 1em;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.together_buy .buy_list .buy_book .buy_txt {
  width: 90px;
  display: block;
  text-align: left;
  margin: 8px auto 0 auto;
}
.together_buy .buy_list .buy_book .buy_txt h6 {
  margin-top: 3px;
  font-size: 13px;
  line-height: 1.4em;
  font-weight: 700;
  color: #333;
  text-overflow: ellipsis;
  max-height: 2.7em;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
}
.together_buy .buy_list .buy_book .buy_txt p {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3.1em;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 12px;
  color: #666;
  line-height: 1.2em;
  font-weight: 400;
  cursor: pointer;
}

.together_search {
  padding-bottom: 70px;
  max-height: 600px;
  opacity: 1;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.together_search .search_title {
  margin-bottom: 15px;
  padding: 10px 0 8px 0;
  border-bottom: 2px solid #7d8e9e;
}
.together_search .search_list .search_book {
  width: 20%;
  float: left;
  margin-top: 20px;
}
.together_search .search_list .search_book .search_cover {
  width: 90px;
  height: 135px;
  position: relative;
  text-align: left;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.together_search .search_list .search_book .search_cover div {
  width: 90px;
  height: 135px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.together_search .search_list .search_book .search_cover .discount_badge {
  display: block;
  position: absolute;
  left: -7px;
  top: -7px;
  z-index: 9;
  line-height: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  background: #59667a;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  cursor: pointer;
}
.together_search .search_list .search_book .search_cover .discount_badge .discount_num {
  display: block;
  width: 40px;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.55em;
  margin-left: -14px;
  color: #fff;
  letter-spacing: -0.05em;
  line-height: 1em;
}
.together_search .search_list .search_book .search_cover .discount_badge .discount_num .num {
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: -0.03em;
  margin-right: -3px;
}
.together_search .search_list .search_book .search_cover .discount_badge .discount_num .percent {
  font-size: 10px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: -0.03em;
}
.together_search .search_list .search_book .search_cover .badge_rental {
  display: block;
  position: absolute;
  left: -7px;
  top: -7px;
  z-index: 9;
  line-height: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  background: #3ea590;
  border: 1px solid #15967d;
  border-radius: 40px;
}
.together_search .search_list .search_book .search_cover .badge_rental .rental_txt {
  display: block;
  width: 40px;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -20px;
  text-align: center;
  color: #fff;
  line-height: 1em;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.together_search .search_list .search_book .search_txt {
  width: 90px;
  display: block;
  text-align: left;
  margin: 8px auto 0 auto;
}
.together_search .search_list .search_book .search_txt h6 {
  margin-top: 3px;
  font-size: 13px;
  line-height: 1.4em;
  font-weight: 700;
  color: #333;
  text-overflow: ellipsis;
  max-height: 2.7em;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
}
.together_search .search_list .search_book .search_txt p {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3.1em;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 12px;
  color: #666;
  line-height: 1.2em;
  font-weight: 400;
  cursor: pointer;
}

.aside_banner {
  width: 100%;
  padding-right: 30px;
}
.aside_banner a {
  display: block;
  width: 100%;
}
.aside_banner a img {
  display: block;
  width: 100%;
  border: 0;
}

.aside_rank {
  padding: 24px 30px;
}
.aside_rank a {
  color: #141414;
}
.aside_rank .rank_title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: -0.04em;
  font-family: none;
}
.aside_rank .rank_title .arrow {
  font-size: 10px;
  display: inline-flex;
  padding-left: 2px;
}
.aside_rank ol {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 15px;
  counter-reset: ranking;
}
.aside_rank ol a {
  color: #666;
  display: flex;
  padding: 4px 0px;
  line-height: 18px;
  white-space: nowrap;
}
.aside_rank ol a span {
  color: #787878;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.05em;
  height: 17px;
  flex: 1 1 auto;
  overflow: hidden;
  font-family: none;
  text-overflow: ellipsis;
}
.aside_rank ol a::before {
  counter-increment: ranking;
  content: counter(ranking);
  min-width: 29px;
  color: #DC3232;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  line-height: 18px;
  letter-spacing: -0.02em;
  font-family: none;
}

#popup_cover {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
}
#popup_cover .popup_box {
  max-width: 986px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popup_cover .popup_box img {
  width: 90%;
}
#popup_cover .popup_box .close_btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  font-size: 20px;
  top: -4%;
  right: 9%;
  color: #d1d5d9;
  cursor: zoom-out;
}
#popup_cover .popup_box .close_btn:hover {
  color: #fff;
}