@charset "utf-8";

@import "reset";


// 헤더

.upperBar {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

.upperMenu {
    width: 1170px;
    padding: 0px 18px;
    margin: 0 auto;
    display: flex;
}

.upperLeft {
    display: flex;
    flex: 1;
    li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:after {
            content: '';
            display: inline-block;
            width: 3px;
            height: 3px;
            margin-top: 8px;
            border-radius: 3px;
            background: #e6e6e6;
        }
        &:last-of-type:after {
            content: none;
        }
        a {
            font-size: 14px;
            color: #787878;
            letter-spacing: -0.01em;
            text-align: center;
            font-weight: bold;
            line-height: 18px;
            padding: 12px;
            padding-top: 11px;
            padding-bottom: 10px;
            transition: opacity 0.2s ease;
            display: inline-flex;
            cursor: pointer;
            &:hover {
                opacity: 0.4;
            }
            span {
                width: 11px;
                font-size: 11px;
                display: inline-flex;
                margin-left: 1px;
                justify-content: center;
                align-items: center;
            }
        }
        a.active {
            color: #333;
        }
    }
}

.upperRight {
    display: flex;
    flex: 0 0 auto;
    li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:first-of-type:after {
            content: '';
            display: inline-block;
            width: 3px;
            height: 3px;
            margin-top: 3px;
            border-radius: 3px;
            background: #e6e6e6;
        }
        a {
            font-size: 14px;
            color: #787878;
            letter-spacing: -0.01em;
            text-align: center;
            font-weight: bold;
            line-height: 18px;
            padding: 12px;
            padding-top: 11px;
            padding-bottom: 10px;
            transition: opacity 0.2s ease;
            display: inline-flex;
            cursor: pointer;
            &:hover {
                opacity: 0.4;
            }
        }
    }
}

header {
    max-width: 1170px;
    margin: 0 auto;
}

.headMenu {
    display: flex;
    height: 72px;
    align-items: center;
    padding: 16px 18px 16px 30px;
}

.headLeft {
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: auto;
    a {
        display: flex;
        align-items: center;
        div {
            display: flex;
            align-items: center;
            padding: 8px 6px 9px 0;
        }
    }
}


.headRight {
    display: flex;
    height: 72px;
    align-items: center;
    form {
        width: 260px;
        height: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: #eee;
        padding: 0 11px;
        border-radius: 8px;
        input {
            width: 230px;
            height: 30px;
            border: none;
            background-color: transparent;
        }
        img {
            width: 20px;
            height: 20px;
            opacity: 0.5;
        }
    }
    ul {
        display: flex; 
        align-items: center;
        justify-content: space-between;
        width: 216px;
        padding: 0 10px;
        li {
            width: 40px;
            height: 40px;
            img {
                width: 100%;
                padding: 6px;
                padding-top: 7px;
                padding-bottom: 5px;
                cursor: pointer;
            }
        }
    }
}


.underBar {
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    hr {
        height: 1px;
        background: #f5f5f5;
        border: none;
        margin: 0 30px;
        margin-top: -1px;
    }
    .underMenu {
        display: flex;
        padding: 0 18px;
        padding-right: 30px;
        overflow: auto;
        span {
            display: inline-flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            padding: 0 12px;
            padding-top: 14px;
            padding-bottom: 17px;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: -0.01em;
            color: $pointColor;
            transition: opacity 0.2s ease;
            pointer-events: none;
            cursor: default;
        }
        a {
            display: inline-flex;
            margin-left: auto;
            align-items: center;
            color: #141414;
            padding: 12px 8px;
            padding-right: 1px;
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: -0.02em;
            img {
                margin-top: 1px;
                width: 18px;
                height: 18px;
                line-height: 18px;
                margin-right: 8px;
            }
        }
    }
    .underBtn {
        ul {
            display: flex;
            padding: 7px 28px;
            overflow: auto;
            li {
                display: inline-flex;
                flex: 0 0 auto;
                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 34px;
                    border-radius: 40px;
                    margin: 6px 2px;
                    padding: 0 10px;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                    transition: all 0.2s ease-in-out;
                }
                .under_1 {
                    background: $pointColor;
                    color: #fff;
                    font-weight: 700;
                    pointer-events: none;
                    cursor: default;
                }
                .under_2 {
                    color: #141414;
                    font-weight: 500;
                    &:hover {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}



// 푸터

.footer_bar {
    width: 100%;
    height: 1px;
    display: block;
    border: none;
    background-color: #f0f0f0;
}

footer {
    width: 1170px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #666;
    .footBox {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .footMenu_1 {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    width: 120px;
                    font-weight: bold;
                    font-size: 13px;
                    cursor: pointer;
                    margin-top: 20px;
                    img {
                        width: 25px;
                        margin-right: 5px;
                        opacity: 0.5;
                    }
                }
            }
        }
        .footMenu_2 {
            ul {
                li {
                    margin-top: 25px;
                    width: 120px;
                    font-size: 13px;
                    cursor: pointer;
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
        .footMenu_3 {
            ul {
                li {
                    margin-top: 25px;
                    width: 120px;
                    font-size: 13px;
                    cursor: pointer;
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
        .footMenu_4 {
            ul {
                li {
                    margin-top: 25px;
                    width: 120px;
                    font-size: 13px;
                    cursor: pointer;
                    &:first-child {
                        font-weight: bold;
                    }
                    &:last-child {
                        &:after {
                            content: "N";
                            background-color: $pointColor;
                            border-radius: 50%;
                            color: #fff;
                            font-size: 10px;
                            line-height: 13px;
                            text-align: center;
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
    }
    .footSocial {
        width: 35%;
        display: flex;
        justify-content: end;
        flex-flow: row wrap;
        ul {
            display: flex;
            li {
                margin-top: 40px;
                width: 55px;
                a {
                    text-align: center;
                    line-height: 44px;
                    width: 44px;
                    height: 44px;
                    font-size: 14px;
                    border-radius: 50%;
                    border: 1px solid #999;
                    opacity: 0.7;
                }
            }
        }
    }
    .footUnder {
        margin-top: 20px;
        width: 55%;
        .footUnderbar {
            display: flex;
            flex-flow: row wrap;
            button {
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
                border: none;
                line-height: 14px;
                letter-spacing: -0.01em;
                background-color: transparent;
                font-size: 12px;
                font-weight: 700;
                color: #787878;
                cursor: pointer;
                &:after {
                    content: "△";
                }
                &.arrow:after {
                    content: '▽';
                }
            }
            .open {
                display: flex;
                flex-flow: row wrap;
            }
            ul {
                display: none;
                margin-bottom: 5px;
                li {
                    width: auto;
                    font-size: 11px;
                    padding: 3px 0px;
                    letter-spacing: -0.03em;
                    cursor: pointer;
                    &:nth-child(3) {
                        &:after {
                            content: "";
                        }
                    }
                    &:after {
                        content: "|";
                        display: inline-block;
                        width: 20px;
                        text-align: center;
                        cursor: default;
                    }
                    &:last-child:after {
                        content: "";
                    }
                }
            }
        }
        .footUnderContents {
            ul {
                display: flex;
                li {
                    width: auto;
                    font-size: 11px;
                    height: 13px;
                    height: 13px;
                    letter-spacing: -0.01em;
                    cursor: pointer;
                    font-weight: 400;
                    display: inline-flex;
                    &:nth-child(2) {
                        font-weight: 700;
                        &:after {
                            font-weight: 400;
                            cursor: default;
                        }
                    }
                    &:after {
                        content: "|";
                        display: inline-block;
                        width: 20px;
                        text-align: center;
                        cursor: default;
                    }
                    &:last-child:after {
                        content: "";
                    }
                }
            }
        }
        .copyright {
            margin-top: 20px;
            font-size: 11px;
            height: 60px;
        }
    }
}


