@charset "utf-8";

@import "reset";


// 슬라이더

.mainBanner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 30px;
    position: relative;
    .mainSlide {
        max-width: 100%;
        position: relative;
        margin: 0 -2px;
        height: 400px;
        overflow: hidden;
        .slideWrap {
            width: 2000%;
            height: 100%;
            .slideItem {
                width: 1020px;
                height: 400px;
                float: left;
                .content {
                    position: relative;
                    height: 100%;
                    border-radius: 6px;
                    margin: 0 3px;
                    overflow: hidden;
                    .slideImg {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%,0);
                        background-color: #f0f0f0;
                    }
                }
            }
        }
    }
}

.titleHead {
    display: inline-flex;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-bottom: 8px;
    img {
        height: 20px;
        width: auto;
        border-right: 1px solid #fff;
        &:last-of-type {
            border-right: none;
        }
    }
}
.content {
    .slideTxt {
        width: 1024px;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        padding: 40px;
        padding-top: 0;
        padding-right: 46px;
        opacity: 1;
        .slideTitle {
            color: #fff;
            h2 {
                font-size: 32px;
                margin-bottom: 4px;
                letter-spacing: -0.01em;
                line-height: 40px;
                max-height: calc(40*2px);
                font-weight: 700;
            }
        }
        .titleUnder {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            align-self: stretch;
            .underTxt {
                color: #fff;
                display: flex;
                max-width: calc(85% + 40px);
                flex-basis: calc(85% + 40px);
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                p {
                    font-size: 16px;
                    opacity: 0.8;
                    line-height: 19px;
                    max-height: calc(19*2px);
                    letter-spacing: -0.01em;
                    width: 100%;
                    &:nth-child(2) {
                        font-size: 8px;
                        margin-top: 8px;
                    }
                }
            }
            .slidePage {
                display: flex;
                font-size: 14px;
                line-height: 17px;
                flex: 0 0 auto;
                padding: 3px 8px;
                border-radius: 100px;
                padding-top: 2px;
                background-color: rgba($color: #000000, $alpha: 0.1);
                align-items: center;
                font-weight: 600;
                span {
                    color: #fff;
                    opacity: 0.4;
                }
                .pageIndex {
                    opacity: 1;
                }
            }
        }
    }
}




.slideImg {
    width: 1018px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .gradient {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-size: 100% calc(100% + 2px);
        background-position: center;
        height: 200px;
    }
}

.slide_1 {
    background-image: url(../img/slide/01.webp);
    .gradient {
        background: linear-gradient(rgba(129, 73, 222, 0), rgb(129, 73, 222)), linear-gradient(rgba(129, 73, 222, 0), rgb(129, 73, 222));
    }
}
.slide_2 {
    background-image: url(../img/slide/02.webp);
    .gradient {
        background: linear-gradient(rgba(15, 146, 148, 0), rgb(15, 146, 148)), linear-gradient(rgba(15, 146, 148, 0), rgb(15, 146, 148));
    }
}
.slide_3 {
    background-image: url(../img/slide/03.webp);
    .gradient {
        background: linear-gradient(rgba(38, 38, 96, 0), rgb(38, 38, 96)), linear-gradient(rgba(38, 38, 96, 0), rgb(38, 38, 96));
    }
}
.slide_4 {
    background-image: url(../img/slide/04.webp);
    .gradient {
        background: linear-gradient(to bottom, rgba(238, 78, 131, 0), rgba(238, 78, 131, 1)), linear-gradient(to bottom, rgba(238, 78, 131, 0), rgba(238, 78, 131, 1));
    }
}
.slide_5 {
    background-image: url(../img/slide/05.webp);
    .gradient {
        background: linear-gradient(rgba(182, 72, 11, 0), rgb(182, 72, 11)), linear-gradient(rgba(182, 72, 11, 0), rgb(182, 72, 11));
    }
}
.slide_6 {
    background-image: url(../img/slide/06.webp);
    .gradient {
        background: linear-gradient(rgba(43, 116, 192, 0), rgb(43, 116, 192)), linear-gradient(rgba(43, 116, 192, 0), rgb(43, 116, 192));
    }
}
.slide_7 {
    background-image: url(../img/slide/07.webp);
    .gradient {
        background: linear-gradient(rgba(5, 69, 148, 0), rgb(5, 69, 148)), linear-gradient(rgba(5, 69, 148, 0), rgb(5, 69, 148));
    }
}
.slide_8 {
    background-image: url(../img/slide/08.webp);
    .gradient {
        background: linear-gradient(rgba(15, 44, 27, 0), rgb(15, 44, 27)), linear-gradient(rgba(15, 44, 27, 0), rgb(15, 44, 27));
    }
}
.slide_9 {
    background-image: url(../img/slide/09.webp);
    .gradient {
        background: linear-gradient(rgba(141, 103, 57, 0), rgb(141, 103, 57)), linear-gradient(rgba(141, 103, 57, 0), rgb(141, 103, 57));
    }
}
.slide_10 {
    background-image: url(../img/slide/10.webp);
    .gradient {
        background: linear-gradient(rgba(196, 12, 25, 0), rgb(196, 12, 25)), linear-gradient(rgba(196, 12, 25, 0), rgb(196, 12, 25));
    }
}
.slide_11 {
    background-image: url(../img/slide/11.webp);
    .gradient {
        background: linear-gradient(rgba(0, 142, 206, 0), rgb(0, 142, 206)), linear-gradient(rgba(0, 142, 206, 0), rgb(0, 142, 206));
    }
}
.slide_12 {
    background-image: url(../img/slide/12.webp);
    .gradient {
        background: linear-gradient(rgba(220, 97, 25, 0), rgb(220, 97, 25)), linear-gradient(rgba(220, 97, 25, 0), rgb(220, 97, 25));
    }
}
.slide_13 {
    background-image: url(../img/slide/13.webp);
    .gradient {
        background-image: linear-gradient(to bottom, rgba(110, 57, 172, 0), rgba(110, 57, 172, 1)), linear-gradient(to bottom, rgba(110, 57, 172, 0), rgba(110, 57, 172, 1));
    }
}
.slide_14 {
    background-image: url(../img/slide/14.webp);
    .gradient {
        background: linear-gradient(rgba(10, 99, 119, 0), rgb(10, 99, 119)), linear-gradient(rgba(10, 99, 119, 0), rgb(10, 99, 119));
    }
}
.slide_15 {
    background-image: url(../img/slide/15.webp);
    .gradient {
        background: linear-gradient(rgba(92, 191, 175, 0), rgb(92, 191, 175)), linear-gradient(rgba(92, 191, 175, 0), rgb(92, 191, 175));
    }
}
.slide_16 {
    background-image: url(../img/slide/16.webp);
    .gradient {
        background: linear-gradient(rgba(92, 106, 208, 0), rgb(92, 106, 208)), linear-gradient(rgba(92, 106, 208, 0), rgb(92, 106, 208));
    }
}
.slide_17 {
    background-image: url(../img/slide/17.webp);
    .gradient {
        background: linear-gradient(rgba(88, 162, 171, 0), rgb(88, 162, 171)), linear-gradient(rgba(88, 162, 171, 0), rgb(88, 162, 171));
    }
}
.slide_18 {
    background-image: url(../img/slide/18.webp);
    .gradient {
        background: linear-gradient(rgba(31, 116, 181, 0), rgb(31, 116, 181)), linear-gradient(rgba(31, 116, 181, 0), rgb(31, 116, 181));
    }
}
.slide_19 {
    background-image: url(../img/slide/19.webp);
    .gradient {
        background: linear-gradient(rgba(35, 46, 77, 0), rgb(35, 46, 77)), linear-gradient(rgba(35, 46, 77, 0), rgb(35, 46, 77));
    }
}
.slide_20 {
    background-image: url(../img/slide/20.webp);
    .gradient {
        background: linear-gradient(rgba(220, 97, 25, 0), rgb(220, 97, 25)), linear-gradient(rgba(220, 97, 25, 0), rgb(220, 97, 25));
    }
}

.slideBtn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 3px;
    pointer-events: none;
    button {
        color: rgba(20,20,20,0.4);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: 1px solid #f0f0f0;
        background-color: #fff;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.06);
        border-radius: 50%;
        transition: opacity 0.2s ease, color 0.2s ease, pointer-events 0.2s ease;
        position: absolute;
        top: 50%;
        pointer-events: auto;
        font-size: 16px;
        color: $black;
    }
    #prev_1 {
        left: 5px;
        transform: translateY(-50%);
    }
    #next_1 {
        right: 5px;
        transform: translateY(-50%);
    }
}


// 버튼


.topBtn {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 100px;
    ul {
        width: 750px;
        display: flex;
        justify-content: space-evenly;
        li {
            width: 70px;
            height: 70px;
            cursor: pointer;
            img {
                max-width: 100%;
            }
            p {
                font-size: 13px;
                text-align: center;
                line-height: 16px;
                margin-top: 4px;
                letter-spacing: -0.03em;
                color: #141414;
                word-break: keep-all;
                font-weight: 500;

            }
        }
    }
}


// 본문

section {
    width: 1170px;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.01em;
        color: #141414;
    }
    h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #a5a5a5;
        cursor: pointer;
    }
}

.ridiToday {
    position: relative;
    #today_wrap {
        position: relative;
        overflow: hidden;
        .todayWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .todayBook {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .todayCover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .todayTxt {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: -0.01em;
                    line-height: 20px;
                    max-height: calc(40px);
                    margin-top: 10px;
                }
            }
        }
    }
}

.ridiMany {
    max-width: 1170px;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    .manyWrap {
        margin-top: 20px;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 366px;
        align-content: space-between;
        justify-content: center;
        .manyBook {
            width: 380px;
            height: 116px;
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            margin-right: 10px;
            .manyCover {
                width: 80px;
                height: 116px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 4px;
            }
            .manyIdx {
                width: 80px;
                height: 116px;
                font-size: 18px;
                color: $black;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .manyInfo {
                width: 184px;
                height: 116px;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                letter-spacing: -0.01em;
                padding-right: 26px;
                .manyTitle {
                    font-weight: 500;
                    color: $black;
                    line-height: 19px;
                }
                .manyAuthor {
                    color: $grey;
                    font-size: 14px;
                    margin-top: 6px;
                    line-height: 17px;
                    &:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
                .review {
                    font-family: "Noto Sans KR";
                    font-size: 13px;
                    color: $red;
                    line-height: 16px;
                    margin-top: 7px;
                    span {
                        color: $grey;
                    }
                }
                .review_0 {
                    font-size: 13px;
                    color: $grey;
                    font-family: "Noto Sans KR";
                }
            }
        }
    }
    .hide {
        display: none;
    }
    ul {
        display: flex;
        justify-content: space-between;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #f0f0f0;
        background-color: #fff;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_2 {
        left: 10px;
    }
    ul>#next_2 {
        right: 10px;
    }
}

.ridiMD {
    position: relative;
    #MD_wrap {
        position: relative;
        overflow: hidden;
        .MDWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .MDBook {
                width: calc((1140px - 48px) / 3);
                height: 226px;
                position: relative;
                top: 58px;
                flex-shrink: 0;
                margin-right: 8px;
                margin-bottom: 20px;
                .MDBg {
                    width: 100%;
                    height: 100px;
                    position: relative;
                    border-radius: 5px;
                    .MDCover {
                        width: 30%;
                        margin: 0 auto;
                        height: 150px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        z-index: 3;
                        position: absolute;
                        top: -50px;
                        left: 50%;
                        transform: translateX(-50%);
                    }   
                }
                .bg_1 {
                    background-color: #7A372B;
                }
                .bg_2 {
                    background-color: #355B29;
                }
                .bg_3 {
                    background-color: #441C84;
                }
                .bg_4 {
                    background-color: #5C6AD0;
                }
                .MDTxt {
                    width: 100%;
                    height: 70px;
                    margin: 0 auto;
                    position: relative;
                    top: 10px;
                    h4 {
                        color: $black;
                        font-weight: 600;
                        text-align: center;
                        line-height: 1.2rem;
                        max-height: calc(3rem);
                    }
                    p {
                        color: $grey;
                        font-size: 14px;
                        text-align: center;
                        line-height: 16px;
                        max-height: 16px;
                    }
                }
            }
        }
    }

    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-65%);
        border: 1px solid #f0f0f0;
        background-color: #fff;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_3 {
        left: 10px;
    }
    ul>#next_3 {
        right: 10px;
    }
}

.ridiBest {
    max-width: 1170px;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    .bestHeader {
        display: flex;
        justify-content: space-between;
    }
    .bestWrap {
        margin-top: 20px;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 366px;
        align-content: space-between;
        justify-content: center;
        .bestBook {
            width: 380px;
            height: 116px;
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            margin-right: 10px;
            .bestCover {
                width: 80px;
                height: 116px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 4px;
            }
            .bestIdx {
                width: 80px;
                height: 116px;
                font-size: 18px;
                color: $black;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .bestInfo {
                width: 184px;
                height: 116px;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                letter-spacing: -0.01em;
                padding-right: 26px;
                .bestTitle {
                    font-weight: 500;
                    color: $black;
                    line-height: 19px;
                }
                .bestAuthor {
                    color: $grey;
                    font-size: 14px;
                    margin-top: 6px;
                    line-height: 17px;
                    &:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
                .review {
                    font-family: "Noto Sans KR";
                    font-size: 13px;
                    color: $red;
                    line-height: 16px;
                    margin-top: 7px;
                    span {
                        color: $grey;
                    }
                }
                .review_0 {
                    font-size: 13px;
                    color: $grey;
                    font-family: "Noto Sans KR";
                }
            }
        }
    }
    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-30%);
        border: 1px solid #f0f0f0;
        background-color: #fff;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_4 {
        left: 10px;
    }
    ul>#next_4 {
        right: 10px;
    }
}

.tag {
    display: flex;
    position: absolute;
    left: -1px;
    bottom: 0;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    .discount_10 {
        font-size: 11px;
        min-width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        font-weight: 700;
        letter-spacing: -0.02em;
        flex-wrap: nowrap;
        background-color: rgb(220,50,50);
        img {
            width: auto;
            height: 100%;
            border-style: none;
        }
    }
    .discount_50 {
        font-size: 11px;
        min-width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        font-weight: 700;
        letter-spacing: -0.02em;
        flex-wrap: nowrap;
        background-color: rgb(220,50,50);
        img {
            width: auto;
            height: 100%;
            border-style: none;
        }
    }
    .rent {
        font-size: 11px;
        min-width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        font-weight: 700;
        letter-spacing: -0.02em;
        flex-wrap: nowrap;
        background-color: rgb(120,120,120);
        img {
            width: auto;
            height: 100%;
            border-style: none;
        }
    }
    .select {
        font-size: 11px;
        min-width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        font-weight: 700;
        letter-spacing: -0.02em;
        flex-wrap: nowrap;
        background-color: rgb(196,182,118);
        img {
            width: auto;
            height: 100%;
            border-style: none;
        }
    }
}

.ridiNew {
    position: relative;
    .newHeader {
        display: flex;
        justify-content: space-between;
    }
    #new_wrap {
        position: relative;
        overflow: hidden;
        .newWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .newBook {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .newCover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .newInfo {
                    width: 100%;
                    height: 84px;
                    margin-top: 10px;
                    padding-right: 10px;
                    .newTitle {
                        color: $black;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        max-height: calc(19px*2);
                        line-height: 19px;
                    }
                    .newAuthor {
                        color: $grey;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: -0.01em;
                        line-height: 17px;
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .review {
                        font-family: "Noto Sans KR";
                        font-size: 13px;
                        color: $red;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        span {
                            color: $grey;
                        }
                    }
                    .review_0 {
                        font-size: 13px;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        color: $grey;
                        font-family: "Noto Sans KR";
                    }
                }
            }
        }
    }

    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-150%);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_5 {
        left: 10px;
    }
    ul>#next_5 {
        right: 10px;
    }
}

.ridiAwards {
    position: relative;
    #awards_wrap {
        position: relative;
        overflow: hidden;
        .awardsWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .awardsBook {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .awardsCover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .awardsInfo {
                    width: 100%;
                    height: 84px;
                    margin-top: 10px;
                    padding-right: 10px;
                    .awardsTitle {
                        color: $black;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        max-height: calc(19px*2);
                        line-height: 19px;
                    }
                    .awardsAuthor {
                        color: $grey;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: -0.01em;
                        line-height: 17px;
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .review {
                        font-family: "Noto Sans KR";
                        font-size: 13px;
                        color: $red;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        span {
                            color: $grey;
                        }
                    }
                    .review_0 {
                        font-size: 13px;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        color: $grey;
                        font-family: "Noto Sans KR";
                    }
                }
            }
        }
    }
}

.ridiTop10 {
    position: relative;
    #top10_wrap {
        position: relative;
        overflow: hidden;
        .top10Wrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .top10Book {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .top10Cover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .top10Info {
                    width: 100%;
                    height: 84px;
                    margin-top: 10px;
                    padding-right: 10px;
                    .top10Title {
                        color: $black;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        max-height: calc(19px*2);
                        line-height: 19px;
                    }
                    .top10Author {
                        color: $grey;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: -0.01em;
                        line-height: 17px;
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .review {
                        font-family: "Noto Sans KR";
                        font-size: 13px;
                        color: $red;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        span {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }
    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-150%);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_6 {
        left: 10px;
    }
    ul>#next_6 {
        right: 10px;
    }
}

.ridiEvent {
    position: relative;
    .eventHeader {
        display: flex;
        justify-content: space-between;
    }
    #event_wrap {
        position: relative;
        overflow: hidden;
        .eventWrap {
            margin-top: 20px;
            width: 100%;
            height: 90px;
            display: flex;
            .eventBook {
                width: 33.1%;
                height: 100%;
                flex-shrink: 0;
                display: flex;
                border-radius: 4px;
                padding-right: 5px;
                margin-right: 0.333%;
                cursor: pointer;
                &:nth-child(1){
                    background-color: #DC6119;
                }
                &:nth-child(2){
                    background-color: #8149DE;
                }
                &:nth-child(3){
                    background-color: #232E4D;
                }
                &:nth-child(4){
                    background-color: #530316;
                }
                &:nth-child(5){
                    background-color: #0F9294;
                }
                &:nth-child(6){
                    background-color: #DC5F18;
                }
                &:nth-child(7){
                    background-color: #6E39AC;
                }
                &:nth-child(8){
                    background-color: #5C6AD0;
                }
                &:nth-child(9){
                    background-color: #0A6377;
                }
                .eventTxt {
                    width: 60%;
                    height: calc(20px*2);
                    align-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    h4 {
                        max-width: 200px;
                        letter-spacing: -0.01em;
                        line-height: 20px;
                        font-size: 15px;
                        color: #fff;
                        font-weight: 600;
                    }
                }
                .eventImage {
                    width: 40%;
                    height: 100%;
                    position: relative;
                    .eventCover {
                        width: 40%;
                        height: 100%;
                        margin: 0 auto;
                        position: absolute;
                        top: 15%;
                        left: 50%;
                        transform: translateX(-50%);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-25%);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_7 {
        left: 10px;
    }
    ul>#next_7 {
        right: 10px;
    }
}

.ridiNovel {
    position: relative;
    .novelHeader {
        display: flex;
        justify-content: space-between;
    }
    #novel_wrap {
        position: relative;
        overflow: hidden;
        .novelWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .novelBook {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .novelCover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .novelInfo {
                    width: 100%;
                    height: 84px;
                    margin-top: 10px;
                    padding-right: 10px;
                    .novelTitle {
                        color: $black;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        max-height: calc(19px*2);
                        line-height: 19px;
                    }
                    .novelAuthor {
                        color: $grey;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: -0.01em;
                        line-height: 17px;
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .review {
                        font-family: "Noto Sans KR";
                        font-size: 13px;
                        color: $red;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        span {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }
    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-150%);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_8 {
        left: 10px;
    }
    ul>#next_8 {
        right: 10px;
    }
}

.ridiPsychology {
    position: relative;
    .psyHeader {
        display: flex;
        justify-content: space-between;
    }
    #psy_wrap {
        position: relative;
        overflow: hidden;
        .psyWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .psyBook {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .psyCover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .psyInfo {
                    width: 100%;
                    height: 84px;
                    margin-top: 10px;
                    padding-right: 10px;
                    .psyTitle {
                        color: $black;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        max-height: calc(19px*2);
                        line-height: 19px;
                    }
                    .psyAuthor {
                        color: $grey;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: -0.01em;
                        line-height: 17px;
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .review {
                        font-family: "Noto Sans KR";
                        font-size: 13px;
                        color: $red;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        span {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }

    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-150%);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_9 {
        left: 10px;
    }
    ul>#next_9 {
        right: 10px;
    }
}

.ridiScience {
    position: relative;
    .scienceHeader {
        display: flex;
        justify-content: space-between;
    }
    #science_wrap {
        position: relative;
        overflow: hidden;
        .scienceWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .scienceBook {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .scienceCover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .scienceInfo {
                    width: 100%;
                    height: 84px;
                    margin-top: 10px;
                    padding-right: 10px;
                    .scienceTitle {
                        color: $black;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        max-height: calc(19px*2);
                        line-height: 19px;
                    }
                    .scienceAuthor {
                        color: $grey;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: -0.01em;
                        line-height: 17px;
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .review {
                        font-family: "Noto Sans KR";
                        font-size: 13px;
                        color: $red;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        span {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }

    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-130%);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_10 {
        left: 10px;
    }
    ul>#next_10 {
        right: 10px;
    }
}

.ridiMystery {
    position: relative;
    .mysteryHeader {
        display: flex;
        justify-content: space-between;
    }
    #mystery_wrap {
        overflow: hidden;
        position: relative;
        .mysteryWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .mysteryBook {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .mysteryCover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .mysteryInfo {
                    width: 100%;
                    height: 84px;
                    margin-top: 10px;
                    padding-right: 10px;
                    .mysteryTitle {
                        color: $black;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        max-height: calc(19px*2);
                        line-height: 19px;
                    }
                    .mysteryAuthor {
                        color: $grey;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: -0.01em;
                        line-height: 17px;
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .review {
                        font-family: "Noto Sans KR";
                        font-size: 13px;
                        color: $red;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        span {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }

    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-150%);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_11 {
        left: 10px;
    }
    ul>#next_11 {
        right: 10px;
    }
}

.ridiHumanity {
    position: relative;
    padding-bottom: 100px;
    .humanHeader {
        display: flex;
        justify-content: space-between;
    }
    #human_wrap {
        overflow: hidden;
        position: relative;
        .humanWrap {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            .humanBook {
                width: 180px;
                height: 355px;
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                margin-right: 6px;
                .humanCover {
                    width: 100%;
                    height: 261px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 6px;
                    padding-right: 10px;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(20, 20, 20, 0.06);
                }
                .humanInfo {
                    width: 100%;
                    height: 84px;
                    margin-top: 10px;
                    padding-right: 10px;
                    .humanTitle {
                        color: $black;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        max-height: calc(19px*2);
                        line-height: 19px;
                    }
                    .humanAuthor {
                        color: $grey;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: -0.01em;
                        line-height: 17px;
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .review {
                        font-family: "Noto Sans KR";
                        font-size: 13px;
                        color: $red;
                        margin-top: 7px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        span {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }

    .hide {
        display: none;
    }
    ul>li {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-150%);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        box-shadow: 2px 4px 8px rgba($color: #000, $alpha: 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
    ul>#prev_12 {
        left: 10px;
    }
    ul>#next_12 {
        right: 10px;
    }
}



